[2017-10-17 14:21] mtrmac commented on #434
That `--auth-file` suggested above would be formatted like `~/.docker/config.json`, not quite convenient for generation in a script.

[2017-10-17 15:57] rhatdan commented on #434
We would need to handle src-auth-file and dst-auth-file.  I would guess.

[2017-10-17 16:35] mtrmac commented on #434
Not urgently; the auth file contains a hostname→(username, password) map, so the same file can be used for both source and destination at the same time.  `--*creds` only configure an username:password, so they need to be specific to source/destination.

(In some unlikely situations it could still be convenient to have separate auth files for source/destination, but the caller can always generate a

[2017-10-17 18:44] rhatdan commented on #434
Excellent, excuse my ignorance.

[2017-10-19 18:59] chaitanyaenr commented on #431
@rhatdan Thanks, I am able to copy the images after adding the check.

[2017-10-19 19:13] rhatdan commented on #431
Skopeo now ships with this on by default.

[2017-10-19 19:13] #431 closed

[2017-10-20 14:48] strigazi opened #436 "Failed to inspect image with invalid memory address or nil pointer dereference"
When trying to inspect a container image I get
` FATA[0003] runtime error: invalid memory address or nil pointer dereference `

I can only guess that some metadata are not present in the image, a nil pointer error is triggered and skopeo isn't catching it.

So far I have only seen it with docker.io/cern/cc7-base:latest , sample execution:
`# skopeo inspect docker://docker.io/cern/cc7-base:latest
F

[2017-10-20 16:01] miabbott commented on #436
Seeing the same with `skopeo` in F27

[code]

I got the same error when building from master in a container and running the command:

[code]

[2017-10-21 08:09] runcom commented on #436
Working on it

[2017-10-21 10:02] runcom commented on #436
Fix is here https://github.com/containers/image/pull/364

[2017-10-21 16:18] #436 closed

[2017-10-23 15:56] ameade commented on #395
Hey,

 I have also noticed that all image layers are copied to the destination registry even if they already exist there. This is a big problem when copying images all over the world. Is there an estimate on when this will be implemented? Is this what this issue is about?

[2017-10-23 16:04] mtrmac commented on #395
Noticed how?  What are the exact steps of reproduce? Ordinarily pre-existing layers should not be redundantly copied, at least as long as the destination can tell the client that the layer is already present.

This issue seems more focused on the overhead of copying configs & manifests, and the overhead necessary to even avoid determining that the layers are already present.

[2017-10-24 00:03] purefn commented on #419
Running into trying to pull an alpine image. It looks like #420 has a possible fix for this, but hasn't gotten much attention. In the meantime, is there a workaround?

[2017-10-24 03:35] cyphar commented on #419
#417 has a hotfix that should improve this -- the latest release (`0.1.24`) should contain that fix.

[2017-10-24 03:49] purefn commented on #419
I'm confused then. That looks like it explicitly does not support this. And I did try to use it and got the same error when trying to pull alpine:3.6.

[2017-10-24 05:56] myllynen commented on #395
[code]

It would certainly be desirable to have this working with this type destination. Thanks.

[2017-10-24 16:12] mtrmac commented on #419
Which “this” precisely do you mean?

What “same” error? On current master, `./skopeo --policy default-policy.json copy docker://alpine:3.6 dir:t` seems to work well enough. Please provide exact steps to reproduce and expected behavior.

[2017-10-24 16:16] mtrmac commented on #395
@myllynen That seems unexpected. Can you file a separate issue for this non-working deduplication, and in there, provide the output of the two commands with `skopeo --debug copy …`, please?

[2017-10-24 20:51] purefn commented on #419
Aha, ok, that command does work. But this one

[code]

gives the error message

[code]

[2017-10-25 07:35] myllynen commented on #395
@mtrmac This issues was filed exactly about what was demonstrated above so I'm not sure do we need another issue?

In any case, here's the debug output, now from Fedora 27 Beta / skopeo-1.24:

[code]

Thanks.

[2017-10-25 19:28] mtrmac commented on #419
Ah, right. That indeed needs #420 . The only workaround in the meantime would be to use the `@sha256:` digest of the relevant architecture-specific manifest instead of the digest of the manifest list.

[2017-10-26 00:24] mtrmac commented on #395
Because

[2017-10-26 00:27] mtrmac commented on #395
Because

… and fixing the broken layer deduplication which is _already_ supposed to be working, and writing new code to avoid a copy of the entire image only by checking that the manifest is present, are quite different tasks.

Filed https://github.com/containers/image/issues/367 , please let’s discuss that there.

[2017-10-27 14:25] thomasmckay commented on #361
Bump on this? Having this working would allow progress on related aspects in foreman and Sat-6

[2017-11-06 15:28] miabbott opened #445 "unable to copy image to docker daemon"
Our automated tests running against the [FAHC](https://pagure.io/fedora-atomic-host-continuous) stream found the following problem while trying to use `atomic pull busybox`:

[code]

In this situation, `skopeo` was built from commit 62c68998d7107bac9075a940866ac8afa586ee49.

If I rollback the host to the previous release, I get a version of `skopeo` build from bd07ffb9f430d232115311442fd06e605a075

[2017-11-06 16:25] mtrmac commented on #445
Thanks for catching this!

@hferentschik This seems to be related to #327.

[2017-11-07 00:53] marcosps opened #446 "README.md shows an invalid example of skopeo copy an image on OCI format"
In README.md we can find:

skopeo copy docker://busybox:latest oci:busybox_ocilayout

But, without a proper tag, this command returns an error:
FATA[0000] Error initializing destination oci:tmp:: cannot save image with empty image.ref.name

A correct example of the command should be:
skopeo copy docker://busybox:latest oci:busybox_ocilayout:latest

Or am I missing something?

[2017-11-07 12:42] redbaron opened #448 "copy command shouldn't destroy destination on error"
good practice is to prepare file on a side and then rename it to destination once done.  Right now skopeo copy leaves destination file in empty state on error

[2017-11-07 12:46] runcom commented on #448
Yeah, that's an enhancement we would love to have, are you interested in contributing such a thing? :)

[2017-11-07 13:43] mtrmac commented on #448
Which destination transport is this referring to in particular?

FWIW https://github.com/containers/image/pull/288/commits/9e32679d2da77290d095b0630ff0bcd58fbfb8bd implements `atomicallyWriteFile` and `atomicallySymlink`.

[2017-11-07 13:47] redbaron commented on #448
Sorry,  for not specifying destination, I am saving images as `docker-archive://`

[2017-11-07 13:49] redbaron commented on #448
@mtrmac looks like request should be opened against containers/image, do you want me to close this one?

[2017-11-07 13:55] mtrmac commented on #448
Right, containers/image would be a bit better.

[2017-11-07 14:01] #448 closed

[2017-11-07 16:53] #446 closed

[2017-11-07 19:55] #445 closed

[2017-11-10 11:22] jonboulle commented on #405
Since containers/image#326 landed and has been bumped here, I believe this is fixed now in master:
[code]

[2017-11-10 14:00] jonboulle commented on #290
Note this isn't really fixed as neither pushing nor pulling works from master:
[code]

posted containers/image#380 to fix pulling at least.

[2017-11-13 15:16] mtrmac commented on #290
@jonboulle The original issue was about being able to correctly push existing schema1 images _at all_.

Conversions between OCI and schema1 are useful as well, but mostly orthogonal.

[2017-11-13 15:27] jonboulle commented on #290
@mtrmac fair enough, I shouldn't have used the OCI example as that is indeed about conversion - but even without that, Quay doesn't work as a dest - apparently now because it returns a 202 on the manifest push. Want me to file a separate issue?
[code]

[2017-11-13 15:30] mtrmac commented on #290
@jonboulle Interesting, that seems to violate https://github.com/docker/distribution/blob/master/docs/spec/api.md#put-manifest .  Yes, please file that as a separate issue.

[2017-11-13 15:40] mtrmac commented on #405
Indeed, thanks for pointing this out.

[2017-11-15 08:01] jonboulle commented on #240
between this and containers/image, I always look at the wrong repo when looking for existing issues...
in any case, this is what I'm working on in containers/image#380

[2017-11-17 01:56] cyphar opened #455 "OCI image transport broken again?"
Hi, it looks like the semi-recent `:`-related changes have broken the OCI transport completely:

[code]

You'll note that both `oci:ubuntu` (which shouldn't work anymore) and `oci:ubuntu:latest` are both broken. This happens on `0.1.26`.

[2017-11-20 07:34] cyphar commented on #455
Eugh, I just figured out it's because we calculate the absolute path rather than using the relative one. That doesn't seem necessary (not to mention I think our current handling of `:` is broken -- because it arbitrarily disallows paths containing `:`).

[2017-11-21 00:36] mtrmac commented on #455
Yeah, we refuse absolute paths in `:` in them, originally because for such names `PolicyConfigurationIdentity` and `PolicyConfigurationNamespaces` can be ambiguous. So, I don’t think this has ever worked, or if it has, it wasn’t intended to.

Actually the absolute path as used for `PolicyConfiguration*` no longer treats `:` specially (see also https://github.com/containers/image/pull/379/files). O

[2017-11-21 19:32] tych0 opened #457 "skopeo ppa doesn't have libostree-1-1"
[code]

[2017-11-22 18:38] mtrmac commented on #457
@lsm5 do you maintain this PPA, or do you know who does?

[2017-11-23 23:43] gouyang opened #459 "Does skopeo support local docker registry?"
[code]

[2017-11-24 11:17] giuseppe commented on #459
do you need `--dest-tls-verify=false`?

[2017-11-25 12:25] mtrmac commented on #459
Yes, please verify whether `--dest-tls-verify=false` works.

It might be the right think for skopeo, or `c/image`, to use `c/image/pkg/sysregistries` by default—but first we need to know that this is indeed the difference.

[2017-11-27 05:55] gouyang commented on #459
[code]
It works.

[2017-11-28 14:06] mtrmac commented on #459
@baude Do you think containers/image should automatically use `c/image/pkg/sysregistries` to configure insecure registries?

[2017-12-04 06:57] gouyang opened #463 "Cannot delete image from docker registry"
[code]

[2017-12-04 11:16] gouyang opened #464 "Need a way to specify gpg key homedir"
[code]

[2017-12-04 12:50] rhatdan commented on #464
Does setting $HOME environment help?

HOME=/tmp/skopeo skopeo standalone-sign /tmp/skopeo/dir/manifest.json docker-daemon:docker.io/busybox:latest 5B4476EC3C2C1394E33DAA478A2DC83509B491E4 -o busybox.signature

[2017-12-04 16:41] mtrmac commented on #464
The `GNUPGHOME` environment variable should work.

[2017-12-05 00:44] gouyang commented on #464
Both `HOME` and `GNUPGHOME` not work.

[code]

[2017-12-05 00:59] mtrmac commented on #464
This really should work, we have [tests for that](https://github.com/projectatomic/skopeo/blob/master/integration/signing_test.go) .

And it does for me:
[code]

[2017-12-05 01:03] mtrmac commented on #464
Adding `GPGME_DEBUG=7` (or a higher level) in the environment might help diagnose the issue: it shows the relevant home directory, and the output of `gpg` commands.

[2017-12-05 22:32] gouyang commented on #464
yes, it works. I didn't notice the key is changed and I still use the old key to test it.

[2017-12-05 22:32] #464 closed

[2017-12-06 09:29] gouyang opened #465 "standalone-verify failed to verify image signature"
I'm trying to verify the image signature, but it failed. I suspect the manifest is not the right one.
How to get the image's manifest file and what does `skopeo manifest-digest` used for?

[code]

[2017-12-06 17:29] mtrmac commented on #465
This has nothing to do with the manifest, but with the key lookup: the key used to create the signature does not match the fingerprint on the `standalone-verify` command line. Are the two lines really recording two _immediately_ following commands? Can you reproduce the `standalone-sign`/`standalone-verify` command pair and get the same failure?

If you can, the output of `gpg --list-packets < bus

[2017-12-07 06:41] gouyang commented on #465
[code]

[2017-12-07 20:02] mtrmac commented on #465
If I am reading this correctly, you have a primary key with fingerprint 82F1726CDE5082EB3B476AE699F7803D44F13569 , and a _subkey_ with fingerprint 77327C08797C1E866C70EBBAEA54242AC9227639 , and the signing capability enabled for that subkey.  So, the signature is created with the subkey, and the fingerprint which needs to match is the fingerprint of the subkey.

The current code does not anticipat

[2017-12-07 23:20] gouyang commented on #465
I just aware  the subkey is generating with below script when run `gpg --batch --gen-key gen-key-script`

[code]

After remove the `Subkey` lines, it can verify images.

[2017-12-07 23:20] #465 closed

[2017-12-19 10:54] jonboulle commented on #405
should this be closed? :upside_down_face:

[2017-12-19 11:30] #405 closed

[2017-12-21 15:58] tych0 commented on #457
Seems this is fixed now, thanks to whatever magic was worked!

[2017-12-21 15:58] #457 closed

[2017-12-21 18:24] thomasmckay commented on #361
Still interested in this :)

[2017-12-21 21:06] rhatdan commented on #361
@thomasmckay Probably best to ping on this in the New Year.  Most everyone is on break now.

[2017-12-29 05:47] gouyang commented on #463
[code]

[2018-01-02 13:03] mtrmac commented on #361
https://github.com/containers/image/pull/377 / https://github.com/projectatomic/skopeo/pull/450:

- allows the user to force a specific manifest schema (independent of destination transport)
- allows making the blobs stored into `dir:` compressed
- adds a version number indication to the` dir:` format.

Contrary to the original description, there is currently not a separate `archive-dir:` transpor

[2018-01-02 14:02] mtrmac commented on #463
Is the registry configured to allow image deletion, as documented in https://github.com/projectatomic/skopeo/blob/master/docs/skopeo.1.md#skopeo-delete ?

[2018-01-02 16:27] mhrivnak commented on #361
Thanks! That matches what we discussed in the last design meeting and should be very useful. @ipanova can give further input on how that works out with Pulp and what additional behaviors may be valuable in the future.

[2018-01-04 07:12] gouyang commented on #463
After execute the container registry garbage collector, it still not work.

[code]

[2018-01-04 15:11] mtrmac commented on #463
I meant configuring the server in advance, not after-the-fact garbage cleanup.  The man page says `REGISTRY_STORAGE_DELETE_ENABLED=true`, I guess in the environment of the registry server; the same configuration can probably be set up using the config file of the registry.

[2018-01-08 17:10] BrightEyesBushyTail opened #467 "How can I export an OCI image to a filesystem?"
Hello!

I am learning to use skopeo - which is very cool, thank you! - and I was wondering how I could use skopeo with a tool like runc. If I have an image in one of the supported repository types, how could I write the resultant (non-layered) filesystem to a folder and fire `runc run` on the result?

I had a look at the `docker-archive` and `dir` transports, but I'm not sure how to unwrap the lay

[2018-01-08 17:12] runcom commented on #467
@BrightEyesBushyTail you can use umoci to do that - follow the examples here https://github.com/openSUSE/umoci/blob/master/doc/man/umoci-unpack.1.md#example

[2018-01-08 17:12] #467 closed

[2018-01-08 17:12] BrightEyesBushyTail commented on #467
Thanks!

[2018-01-08 18:07] rhatdan commented on #467
@BrightEyesBushyTail You might want to look at podman, https://github.com/projectatomic/libpod/
Which embeds all of the functionality used by skopeo into a CLI similar to Docker.

[code]

[2018-01-12 15:35] thomasmckay opened #469 "skopeo inspect digest differs from docker images --digest"
Inspecting an image with skopeo vs. docker gives different digest values

[code]

[2018-01-12 15:44] runcom commented on #469
@mtrmac do you happen to know why?

[2018-01-12 16:40] mtrmac commented on #469
Sure, 436bb… is the digest of the manifest list.  `docker pull` throws away both the manifest list and the original manifest, so reading from `docker-daemon:` synthesizes a new manifest which does not match the ID.

The two images can probably be paired using their config digest (i.e. `"Id"` in `docker inspect`, and the `"config"."digest"` field in `skopeo inspect --raw`).

https://github.com/cont

[2018-01-12 17:40] mtrmac commented on #469
`docker images` records the digest used for pulling the image in a locally stored data structure. On Fedora at least, `docker inspect` shows it in a `RepoDigests` array — and do note that it is an array, a single image can have zero, one, or multiple digests if it were pulled from multiple places/names.

`skopeo inspect`, OTOH, _is_ recalculating the digest from manifest contents, in the `docker-d

[2018-01-12 18:53] thomasmckay commented on #469
I would like to match a docker-daemon (ie. locally pulled) image to its exact match in a registry. The registry  in my case is foreman/pulp/crane (Satellite-6). From a user perspective, I'd like to provide instructions along the line of "Run $something on your host then use $unique-id to look up the image in foreman." The $unique-id, I thought, was the digest.

This would be applicable to for imag

[2018-01-13 09:22] mtrmac commented on #469
_If_ the Docker version provides `RepoDigests` in the `docker inspect` output (which docker-1.13.1-44.git584d391.fc26.x86_64 does, but your output seems not to; I haven’t now checked what makes a difference, I can look into it on Monday if necessary), that is easiest to match against a registry from which the image was `docker pull`ed.

If `RepoDigests` is not available, _and_ the image uses the s

[2018-01-17 14:38] duritong opened #471 "Copying certain images into ostree fail"
If an image contains a non-writeable directory, when unpacked and ready to be imported into an ostree, it fails:

Setup to reproduce:

[code]

Bug:

[code]

The problem is that the extracted dir is not writeable:

[code]

[2018-01-17 18:15] mtrmac commented on #471
@giuseppe ?

FWIW:
[code]
The message in `(dest: ...)` reports a failure to clean up; it does need to be fixed, but the first failure is reported as `Error committing the finished image: exit status 2`.

[2018-01-17 20:18] duritong commented on #459
I think this would make sense and then it could still be overwritten by cli-flags.

[2018-01-19 15:13] clcollins opened #472 "Skopeo copy from private registry tags images incorrectly"
When copying an image from a private registry to the docker-daemon transport, Skopeo tags the image as having come from docker.io:

`skopeo copy docker://<private.registry>/testing/testimage:latest docker-daemon:testimage:latest`

Results in:

[code]
I would expect it to either not contain the registry, or have the source registry, not "docker.io".

---
skopeo version 0.1.27 commit: 9d3a3eb447362c

[2018-01-19 18:50] mtrmac commented on #472
The source and destination specifications in `skopeo copy` are independent; nothing requires the source and destination to have anything in common like the `testimage` name above; `skopeo copy docker://foo docker-daemon:bar` is just as valid. The source could also be something like `dir:$path` which has no associated identity at all.

---

So, regarding the `docker-daemon:` interpretation of `test

[2018-01-19 20:38] clcollins commented on #472
That makes perfect sense, @mtrmac. Thanks for the explanation.  Tagging the private registry works fine, and should mitigate any confusion regarding the source of the image.

Thanks!

[2018-01-19 20:38] #472 closed

[2018-01-29 02:08] gouyang opened #473 "unicode character code shows in inspect"
`\u003` and `\u003e` shows in inspect command.
[code]

[2018-01-29 15:44] mtrmac commented on #473
Thanks for the report. It’s actually `\u003c` and `\u003e`, escape sequences for `<` and `>`.  This is a behavior of Golang `json.Marshal`, per https://golang.org/pkg/encoding/json/:

Using raw `<`/`>` and escaped `\u003c`/`\u003e` is semantically equivalent, and all JSON consumers should handle the two variants equivalently. Yes, it can look confusing to a human reader.

FWIW `skopeo inspect … |

[2018-01-29 23:09] gouyang commented on #473
@mtrmac There is similar issue in project `buildah`, it's solved in https://github.com/projectatomic/buildah/pull/421, for your reference.

[2018-01-30 11:52] mtrmac commented on #473
I don’t really see this as valuable—to an extent, it’s better if human readers are reminded that this is JSON syntax and escapes matter—but I’ll defer to @runcom .

[2018-01-30 11:52] mtrmac commented on #473
(Thanks for the pointer to working code, though.)

[2018-01-30 12:04] runcom commented on #473
I'd leave this is, it's JSON and maybe someone pipe that to a file

[2018-01-30 16:43] rhatdan commented on #473
If they pipe to a file or to anything other then a TTY it will not change.  It is only being done when Humans are looking at it.

[2018-02-05 19:42] miabbott opened #475 "files landed when installing system container have `default_t` label"
(Migrated from https://github.com/projectatomic/atomic/issues/1176)

Starting with `skopeo-0.1.28-1.git0270e56.fc27.x86_64`, files landed when installing a system container are ending up with the SELinux label of `default_t`

[code]

Previous versions of `skopeo` would land those same files with the label `container_share_t`:

[code]

[2018-02-05 20:03] mtrmac commented on #475
@giuseppe ?

[2018-02-05 20:43] giuseppe commented on #475
@mtrmac, yes followed up on https://github.com/projectatomic/atomic/issues/1176

I'll keep this issue update once we find out what is causing the problem

[2018-02-05 21:37] rhatdan commented on #475
default_t is the default labels of content created in / that is not a system directory.  IE a non standard directory.

[2018-02-06 13:42] mtrmac commented on #418
With 0.1.28:
[code]

Building seems to work as documented; please reopen this if that’s not the case.

[2018-02-06 13:42] #418 closed

[2018-02-09 10:29] giuseppe commented on #475
@mtrmac this issue is being already tracked in projectatomic/atomic and I've opened a PR for container-selinux here:

https://github.com/projectatomic/container-selinux/pull/50

I think it is safe to close this.  If it turns to be a problem in `containers/image`, I'll open a separate issue there.

[2018-02-09 17:23] mtrmac commented on #475
@giuseppe Thanks, closing.

[2018-02-09 17:23] #475 closed

[2018-02-16 22:53] sargun opened #478 "--dest-compress=none does not work as expected"
See:
[code]

My expectation is that the tarballs in bar would be uncompressed.

[2018-02-17 00:03] mtrmac commented on #478
Per `skopeo copy --help`:

This seems to work as documented, at least. Are we suggesting a different behavior anywhere?

(https://github.com/containers/image/pull/370 will add the technical capability to decompress layers while copying, so the capabilities of `--dest-compress` could be improved then.)

[2018-03-07 08:17] nlewo opened #481 "Only copy a subpart of a source image to a directory"
An image can be copied to a directory by using the skopeo `dir`
transport. Currently, all parts (config, layers, manifest) of the
source image are copied to that directory.

I would like be able to only copy subparts of the source
image. These subparts could be layers, configs, or manifests.

Is it already possible?
If not, do you think it would be feasible?
And are you also interested by this fea

[2018-03-07 08:54] rhatdan commented on #481
@mtrmac @runcom WDYT?

[2018-03-07 19:21] mtrmac commented on #481
Most of this already exists, to serve exactly the same needs of the `ostree` transport, as `skopeo layers` – but deprecated. It should be very easy to write a similar wrapper around `ImageSource` which extracts exactly the needed blobs, if you don’t need the whole copy machinery (signatures, manifest conversion, compression/decompression) etc.

There is also a somewhat previous conversation in htt

[2018-03-13 10:49] nlewo commented on #481
Since Nix is a build system, we generally prefer to let Nix build stuffs since it does this pretty well:) So, I would like to let Nix build an image from the image dependencies which are layers, config and manifest.
This is a common pattern in the Nix ecosystem. For instance, we have a tool called `go2nix` that takes a go project as input and generates a Nix expression for each go dependency (whic

[2018-03-13 14:05] mtrmac commented on #481
I don’t know of any more plans for `skopeo layers` (in particular, there is not a set removal schedule) — but ultimately it seems like such a trivial wrapper around c/image that anyone could re-implement / resurrect it again if that happened.

A more complete history is in https://github.com/projectatomic/skopeo/pull/242 and https://github.com/projectatomic/skopeo/pull/264 ; and an old implementat

[2018-03-21 18:52] nlewo commented on #481
In our case, we don't really care about layer signatures since we must provide the hash of the layer in the Nix expression. This hash is computed in a previous step, a step that relies on the signature of the image but not on the `layers` command.

I understand that you don't want to expose the `layers` command to end users. FYI, as a end user, I didn't know it:) So it would be nice if this comman

[2018-03-21 18:52] #481 closed

[2018-03-27 14:21] pquq12 opened #484 "Deduplication does not work for oci targets"
With commit 43acc747d514022780ec864b423424bb86110e74 skopeo no longer detect that image layer blobs have already been downloaded, for some images. The [change in function UpdatedImageNeedsLayerDiffID](https://github.com/projectatomic/skopeo/blob/master/vendor/github.com/containers/image/image/docker_schema1.go#L99) seem to be the source of the problem but I have no idea how to fix it. Reverting th

[2018-03-27 14:55] pquq12 commented on #484
The workaround I use at the moment is to first "docker pull" the image from the upstream provider and then use skopeo locally to get the image into oci format. Docker knows what layers it already has so no duplicate downloads.
[code]

[2018-03-27 14:58] runcom commented on #484
/cc @mtrmac

[2018-03-27 15:43] mtrmac commented on #484
Well, that particular line is exactly the fix for `docker-daemon:`.

The input image `docker://registry.access.redhat.com/openshift3/ose-recycler:v3.7` uses the schema1 format, which records the digest of the compressed layers but not the decompressed layers (“DiffID”s); both the schema2 format (required as input to `docker-daemon:`) and the OCI format (required as input to `oci:`) contains digest

[2018-03-27 16:25] pquq12 commented on #484
Ok, but since you have the compressed layer digest in both v1 and v2, wouldn't it be possible to use that to check if the layer is present at the oci-destination and if so decompress that layer and calculate the DiffID? Then it would not be necessary to download that layer again from the source.

A cache would improve the speed of the whole process but maybe it's acceptable that processing v1 imag

[2018-03-27 16:33] mtrmac commented on #484
That only works in the narrow case where the destination is a local disk and not a remote repository (and a faster local disk than the remote repository, at that). And the code to compute the `DiffID`s is  already horribly convoluted, I’d rather not add another, pretty big, special case, to it if it can be avoided at all.

And if the cache is ever added, we would probably want to drop this specifi

[2018-03-27 17:08] pquq12 commented on #484
So the cache is the most likely option. Where to put the cache maybe could be given on the command line, just as with the --src-shared-blob-dir, like --src-cache-dir.

[2018-03-27 18:07] mtrmac commented on #484
The cache, once implemented, would be most useful if it were always used, and for that we need to choose a default location.

But you’re right that we would probably have an option eventually, and the option would allow interested users to benefit from the cache without having to block on choosing the default.

[2018-03-29 03:42] jlsalmon commented on #244
Is this possible yet?

[2018-03-29 05:57] rhatdan commented on #244
It should be able to be.  Reopen if your use fails.

[2018-03-29 06:14] jlsalmon commented on #244
I would reopen but I'm not the author.

`skopeo copy` doesn't seem to honour `DOCKER_HOST`:

[code]

Maybe I'm missing something?

[2018-03-29 11:35] rhatdan commented on #244
@mtrmac @runcom Any ideas?

[2018-03-29 15:10] mtrmac commented on #244
There is https://github.com/containers/image/pull/328 , designed so that the caller must intentionally opt in into a different configuration, instead of silently changing behavior depending on the environment.

`skopeo` does not currently expose this configuration (`types.SystemContext.DockerDaemon{Host,CertPath}`) via the CLI.

[2018-03-29 22:45] jlsalmon commented on #244
Thanks guys. Would I then be correct in saying that it would be a fairly simple addition to the skopeo CLI?

[2018-03-30 13:23] rhatdan commented on #244
Sure, open a PR, l

[2018-03-30 15:05] jlsalmon commented on #244
I had a quick shot at this in #487

[2018-04-03 15:50] olbohlen opened #488 "building skopeo with golang go1.8.3 on illumos/OpenIndiana"
Hi,

I was trying to build skopeo outside of a docker container on OpenIndiana hipster (based on illumos, OpenSolaris fork). I have go 1.8.3 here and I get this:

[code]
unfortunately my go skills are quite limited ;) so I do not really get the point what's going on here.
Hopefully you can help.

Cheers,

Olaf

[2018-04-03 22:35] mtrmac commented on #488
Thanks for your report.

As for `C.gpgme_err_set_errno`, either install `gpgme` with its development headers (and make it available through `pkg-config`), or opt out using the `containers_image_openpgp` build tag.

The `vendor/github.com/containers/storage/lockfile_unix.go` errors are real bugs (Cc: @nalind ), if you don’t need the storage backend, you can opt out using the `containers_image_stora

[2018-04-04 17:45] bowlofeggs opened #489 "RFE: Support for removing tags"
Greetings!

I'm working on adding support for [Bodhi](https://bodhi.fedoraproject.org) to [manage container buildroot overrides](https://github.com/fedora-infra/bodhi/issues/2018). In doing so, I'm having Bodhi add a "build" tag to Fedora's container registry when the buildroot override is in place. However, buildroot overrides expire, and when this happens I need a way to remove that "build" tag

[2018-04-04 17:56] mtrmac commented on #489
I’m afraid the [registry API](https://github.com/docker/distribution/blob/master/docs/spec/api.md)  (both as specified, and as actually implemented in docker/distribution) does not provide an operation removing a tag; only the whole-image deletion is possible.

Once a tag exists, you can only redirect the tag to a different (possibly already existing) image by pushing a new image to that tag.  (So

[2018-04-04 18:29] bowlofeggs commented on #489
@mtrmac I actually just loaded up this ticket to make a similar comment. I had thought the registry API had this, and I went to write a Bodhi workaround to use what I thought existed, and found that it does not exist.

Your workaround idea might be viable though, thanks for the tip. I guess we can close this.

[2018-04-04 18:29] #489 closed

[2018-04-04 18:37] mtrmac commented on #489
FWIW it might be easier to redirect the `build` tag to the ordinary non-override image after the override expires—at the cost of having to manage the `build` tag on every single build image update.

[2018-04-04 21:54] bowlofeggs commented on #489
Haha, I tried your suggestion of pushing an empty image to the tag, and then deleting it, and it did end in removing the tag without deleting the original image. Thanks!

Only problem is that there isn't a great way for Bodhi to *have* an empty image to use to push to a registry to perform that workaround. I much prefer not to keep an empty image as files in Bodhi's git, because I don't want "magi

[2018-04-04 22:01] mtrmac commented on #489
I guess that depend on what your definition of “generated” is… I imagine generating an empty tar.gz as such is easy enough, and the minimal `config.json` and `manifest.json` files could be considered manually written — especially when the `manifest.json` should contain either a counter or a random value, to ensure the manifest digest of the temporary image is unique.  So, the git repository would

[2018-04-04 22:13] rhatdan commented on #489
Also skopeo does not require root.

[2018-04-07 04:28] #244 closed

[2018-04-07 04:40] jlsalmon commented on #432
We have containerised CI jobs that use skopeo to move images around.  For now I'm having to build an image manually - it would be really useful to be able to `docker run projectatomic/skopeo` 👼

Looks like projectatomic has lots of automated builds on docker hub already?

[2018-04-07 09:38] rhatdan commented on #432
Now if you had said `podman run  projectatomic/skopeo `, you would have made me really happy.  I am not sure who is in charge of these images on Docker hub.  @lsm5 Do you know?

[2018-04-07 23:12] lsm5 commented on #432
@scollier do you own projectatomic account on docker hub?

[2018-04-07 23:14] lsm5 commented on #432
hmm i think @scollier owns the fedora account but not projectatomic on docker hub, @cgwalters any idea?

[2018-04-09 19:12] taqtiqa-mark opened #492 "Minimum go version: Informative error message on build"
Part of the Travis-CI.org (trusty) build using go 1.2 (updated)

Complete build [log here](https://travis-ci.org/taqtiqa-admin/rkt-stacks/jobs/364119324#L805)
Partial log output
[code]

[2018-04-09 19:47] mtrmac commented on #492
Are you sure this build is using 1.9?

1.2.1 would be _really_ old, definitely older than anything we’ve ever used with skopeo.

`-buildmode=pie` does exist in 1.9: https://go.googlesource.com/go/+/go1.9.5/src/cmd/go/internal/work/build.go#267 .

[2018-04-09 19:52] taqtiqa-mark commented on #492
Hmm, let me check.  Stand by.

[2018-04-11 20:49] taqtiqa-mark opened #495 "Ubuntu Trusty (shippable.com) issue: make binary-local BUILDTAGS=containers_image_ostree_stub -> go-md2man: not found"
The front page suggests that `make all` builds the doc which requires `go-md2man`. However it seems
`make binary-local BUILDTAGS=containers_image_ostree_stub` also tries to build the docs.

I don't think it should?

Ubuntu Trusty on Shippable.com:

[code]

Produces:
[code]

[2018-04-12 04:30] rhatdan commented on #495
make install is attempting to install the man pages.
make install-binary
might be what you want?

[2018-04-12 18:13] taqtiqa-mark commented on #495
Duho. My mistake apologies.

[2018-04-12 18:13] #495 closed

[2018-04-20 22:15] duglin commented on #385
@runcom is there a fix for this? I need to build a static image so I can move it into a minimal Docker image at runtime.

[2018-04-21 09:38] ianmiell opened #496 "Error determining manifest MIME type for oci ... unexpected digest reference : invalid checksum digest format"
[code]

[code]

[code]

[code]

[code]

[2018-04-21 11:43] rhatdan commented on #385
@duglin have you tried to build a static skopeo?  What issues are you seeing?

[2018-04-21 14:00] duglin commented on #385
@rhatdan yep - here's the output I see:
[code]

[2018-04-21 14:54] mtrmac commented on #496
Thanks for your report.

I’ll take a closer look later, for now a quick guess:
[code]
with `err == nil` `errors.Wrapf(nil, …)` returns `nil` instead of an error.

If I am right, something like `oci:/tmp/oci-image:b957ec1de6b91b6fd0a64afbd6a81a177d476ba8f9adf2a11504716abd3ef977-src` should work.

[2018-04-21 15:00] mtrmac commented on #385
Something like
[code]
works for me on Fedora, and shows how to disable the various components if the libraries are not available.

But, really, the glibc warning is still applicable, which makes the `binary-static` `make` target (building _in a container_, statically linking and expecting some other environment to match the glibc in the container) dangerous and unreliable.

I’m leaning towards jus

[2018-04-21 16:43] duglin commented on #385
I feel like I'm missing something. Shouldn't a docker build of the static exe be able to work no matter what my env is? Shouldn't the container used to do the build have everything pulled in (via the Dockerfile) so that it can find/link all libs and produce a truly stand-alone exe?

[2018-04-21 16:52] mtrmac commented on #385
No, see https://github.com/projectatomic/skopeo/issues/385#issuecomment-318155892 .  User account lookup and the like are inherently and unavoidably dynamically linked.

As long as we maintain that `Makefile` target, sure. But if it can’t work the way it would be reasonably expected to (as you do), I’m leaning towards removing the target rather than overpromising.

[2018-04-21 21:00] duglin commented on #385
Well, I just tried a variant of your cmd line:
`make binary-static BUILDTAGS='containers_image_openpgp containers_image_ostree_stub containers_image_storage_stub'`
and that seems to work great for me - so I'm good.  Thanks!

[2018-04-23 14:32] rhatdan commented on #385
Ok I am going to close this issue then.

[2018-04-23 14:32] #385 closed

[2018-04-30 11:36] rhatdan commented on #495
Yes the problem here is that he did not have the go-md2man executable installed.

[2018-04-30 14:43] frioux commented on #495
The Readme doesn't say it's required. Why not have the build container do
that?

--
Sent from a rotary phone rented from Ma Bell

On Mon, Apr 30, 2018, 4:36 AM Daniel J Walsh <notifications@github.com>
wrote:

[2018-04-30 14:57] rhatdan commented on #495
I don't think @taqtiqa-mark used a build container.  He was just building from source. But I will let him chime in.

[2018-04-30 15:15] frioux commented on #495
I got the same issue doing make install which at least partially used a
build container.

--
Sent from a rotary phone rented from Ma Bell

On Mon, Apr 30, 2018, 7:57 AM Daniel J Walsh <notifications@github.com>
wrote:

[2018-05-12 02:12] mtrmac commented on #495
that?

`README` does say that it’s required for building documentation. The installation section is confusing, though.

Is https://github.com/projectatomic/skopeo/pull/504 better? Any other improvements are welcome.

Most of the development work and packaging does not use (and in the case of building packages, can not easily use) build containers, and I’m afraid surprises like this are a consequen

[2018-05-19 14:44] thomasmckay opened #508 "skopeo search command"
I'd like to see _skopeo search_ command implemented for use against registries that still continue to support the _/v1/search_ route.

[2018-05-21 13:32] thomasmckay commented on #508
@mtrmac - From a user point of view I'd prefer to position skopeo as the drop-in replacement for docker command line tool. Is that not the intent of skopeo?

[2018-05-21 13:36] mtrmac commented on #508
No, skopeo is a fairly low-level front-end to containers/image.  If you want a drop-in replacement, that’s precisely the intent of `podman`.

[2018-05-21 13:54] thomasmckay commented on #508
Well then, let me give podman a spin.

[2018-05-21 14:17] thomasmckay commented on #508
I am specifically using the "skopeo copy" functionality to save images to disk (for disconnected setup) as well as from registry-to-registry directly. Is there equivalent of these in podman?

[2018-05-21 14:45] thomasmckay commented on #508
Then I'll leave this feature request up to you to open or close. It would be useful when _skopeo copy_ things around to be able to search source and destination registries. I'd be in favor or implementing here.

Thanks for the pointer to _podman_, I'll be using that going forward for my integration testing.

[2018-05-21 14:56] mtrmac commented on #508
I do think it makes sense to expose this in `skopeo`; OTOH with `podman search` available, it is not likely to be a priority; a PR would help make this happen.

[2018-05-21 15:36] thomasmckay commented on #508
https://github.com/projectatomic/skopeo#todo ;) Funny.

If I ever manage to get a go debug environment set up (breakpoints, etc.), I may try to give this a shot myself. Probably far down my list of priority vs. hours in the day.

[2018-05-24 13:05] #425 closed

[2018-05-24 13:13] nlewo opened #511 "Avoid copy of existing layers"
When copying an image from a Docker daemon to a local Docker registry, existing layer are copyied even if they already exists on the destination.
This is not the behavior of the Docker pull command.

Is this an expected behavior?

[2018-05-24 13:17] runcom commented on #511
dup of https://github.com/projectatomic/skopeo/issues/395 and https://github.com/projectatomic/skopeo/issues/281

[2018-05-24 14:52] nlewo commented on #511
Ok, thanks.
So, it seems it is because layers are compressed on the fly, so we cannot know the sha before the upload.
If it is true, do you know how docker does?

[2018-05-24 15:12] mtrmac commented on #511
It keeps a local ~cache of compressed digest ↔︎ uncompressed digest correspondences; so, it can detect that the compressed equivalent is already stored on a registry, or that a decompressed layer is already available locally.

[2018-05-24 15:15] nlewo commented on #511
hmm... so there is a bug then :/ because this is not the behavior I'm observing.

[2018-05-29 19:41] CamiloGarciaLaRotta opened #513 "Multitag documentation"
## Problem description
Copying a container image build with the `--additional-tag` flag does not add the additional tag.
Only the tag specified in the `<destination>` field is visible in the registry.

## Expected behaviour
Based on the discussion of #501, I would expect the `skopeo-copy` to copy the container image build with both tags.

## My Environment
I have an Artifactory private registry wi

[2018-05-30 07:09] vrothberg commented on #513
## --additional-tag flag
At the moment, the `--additional-tag` flag only works for the `docker-archive` transport (as mentioned in the help message `skopeo copy --help` and the pull request). For all other transports, the flag has no effect, as you describe in your issue.

You can try it for docker archives with something as follows:
[code]

In the `manifest.json` file in `foo.tar` you can find th

[2018-05-30 07:36] nlewo commented on #513
I also use Skopeo to push several tags to a registry and this is not really efficient I need to push several times the image (included all layers).

With Docker, you can do something such as:
[code]
Since Docker is able to know already sent layers, this is quite efficient because layers are not sent by the second `push`. This is not the case with Skopeo. So, this `additional-tag` would be a good a

[2018-05-30 11:36] CamiloGarciaLaRotta commented on #513
Thanks for the explanation @vrothberg and thanks for the workaround @nlewo
I'll proceed with the `docker tag` approach

[2018-05-30 11:55] mtrmac commented on #513
As @vrothberg says, the `--additional-tag` option is documented for `docker-archive:` only.

---

True—but I’d rather have a generic mechanism that can avoid re-pushing layers in all situations transparently (see https://github.com/containers/image/issues/312 , https://github.com/containers/image/issues/104) than a local specific `--additional-tag` hack.  `--additional-tag` makes sense for `docker

[2018-05-30 11:55] #513 closed

[2018-06-04 15:27] jfilak opened #515 "question: tool for adding insecure registries"
What is the best way to add new insecure registries without the need to manually update the file /etc/containers/registries.conf

I could not google it out.

[2018-06-04 15:35] runcom commented on #515
/cc @baude is there anything?

[2018-06-04 15:36] TomSweeneyRedHat commented on #515
Can you make use of:

--registries.d dir use registry configuration files in dir (e.g. for container signature storage), overriding the default path.

and use a different file or are you wanting to specify the insecure registries on the command line itself?

[2018-06-04 16:01] mtrmac commented on #515
I’m not aware of any software package for editing the registries configuration; there are readers in Golang (`github.com/containers/image/pkg/sysregistries{,v2}`) and Python (https://github.com/projectatomic/registries ), but neither can update the file.

Of course something I don’t know about may exist.

[2018-06-04 17:15] baude commented on #515
The intent has always been to manually edit the file; theoretically something could be created.  Is this being done via automation where manually editing is not feasible ?

[2018-06-05 07:47] jfilak commented on #515
IMHO, the intent in the world of Ansible, Chef, Salt and Puppet was not a good decision.

Exactly! I wanted to use sed but the format is so `*` that I would have to use a complicate awk command to achieve my goal.

[2018-06-05 07:50] jfilak commented on #515
Thank you for the suggestion. Unfortunately, I am not sure which command I am supposed to use with the parameter.

I need to start docker service and I need to pull docker images from our internal docker registries. Nothing special - just a VM. But I refuse to configure the VM manually.

[2018-06-05 07:53] jfilak commented on #515
What about to define an augeas lens?
http://augeas.net/index.html

[2018-06-05 17:59] baude commented on #515
@jfilak i could write up a fairly simple tool for you ... interested in something like that ?

[2018-06-05 18:32] jfilak commented on #515
No need to create a tool just for me. I can live with an awk command ;) If you have better things to do, ignore this issue. I will close it when I have the awk command tested.

[2018-06-05 18:43] TomSweeneyRedHat commented on #515
Once written, and with your permission, it would probably be handy to drop the tool somewhere in here if you think others could use it.

[2018-06-05 21:40] jfilak commented on #515
Here you are:

[code]

Just replace the value of INS_REG with your insecure registry host name.
Tested with https://github.com/projectatomic/registries/blob/master/registries.conf

It is disgusting and it works only for 'registries = []'. I opened this issue in the hope there is a better way. Perhaps, I can create a PR for https://github.com/projectatomic/registries (I opened the issue here, becau

[2018-06-05 21:40] #515 closed

[2018-06-05 21:45] TomSweeneyRedHat commented on #515
Thanks muchly jfilak

[2018-06-05 21:46] TomSweeneyRedHat commented on #515
@jfilak even

[2018-06-19 15:41] CamiloGarciaLaRotta commented on #463
Hi, to avoid duplication I am appending here as this issue as it is partly correlated to mine:

I am able to delete images manually from out private Artifactory registry.
I am able to inspect and copy images in that registry through Skopeo.

Unfortunately, I am unable to delete images from the registry, I obtain the following error:
[code]

As a side note, in your [skopeo delete documentation](htt

[2018-06-20 10:13] runcom commented on #338
fixed in master https://github.com/projectatomic/skopeo/blob/master/integration/copy_test.go#L264

[2018-06-20 10:13] #338 closed

[2018-06-20 22:28] jethrogb opened #517 "Add configuration option for compression level"
Currently, compression during copying uses the default compression level. When pushing to a registry on my LAN I don't need compression, so I'd like to set `gzip.NoCompression` instead (I have a local fork that hardcodes this). Other people might want to set `gzip.BestCompression`.

[2018-06-21 05:38] gouyang commented on #463
The problem is not existed if add `delete: enable: true` to the config file:
[code]
Below steps show that it delete the image successfully.
[code]

[2018-06-21 12:09] rhatdan commented on #517
Please open a PR to do this, if you have a local patch?

[2018-06-21 12:43] rhatdan commented on #463
@TomSweeneyRedHat or @gouyang would you guys like to write up a quick blog on how to set this up and we can publish it, and then add it to the skopeo readmes.

[2018-06-22 02:30] gouyang commented on #463
@TomSweeneyRedHat Would you please do this, the reference doc is: https://docs.docker.com/registry/configuration/#delete

[2018-06-22 09:25] rhatdan commented on #517
@runcom @mtrmac What do you guys think of this idea?

[2018-06-25 14:43] TomasTomecek opened #518 "OCI transport misinterprets tag"
Manpage:
[code]

What I did:
[code]
I expected that the image will be present in `$PWD`:
[code]

But it's not. Instead `path` and `tag` were joined and that was the path skopeo used.

[code]

[2018-06-25 15:28] mtrmac commented on #518
Thanks for your report.

I’m afraid I can’t reproduce this.  What is the _precise_ value of `$PWD`? (And in particular, does it contain any colons?)

[2018-06-26 07:35] TomasTomecek commented on #518
It's indeed hard to reproduce. When I pick a different image or go to a different dir it works as expected.
[code]

[2018-06-26 13:59] mtrmac commented on #518
Are you using `zsh` by any chance?

[code]

Or just confirm the result of the parameter expansion by adding an `echo␣` before the `skopeo copy…` command.

[2018-06-26 14:11] TomasTomecek commented on #518
Damn, I would not expect `zsh` to be so tricky and having different syntax for `$FOO`. I learnt something today, thank you.

[2018-06-26 14:11] #518 closed

[2018-06-26 14:17] TomasTomecek commented on #518
Also found this in the documentation if anyone runs into this:
[Parameter Expansion](http://zsh.sourceforge.net/Doc/Release/Expansion.html#Parameter-Expansion)
[code]

[2018-06-26 14:19] TomasTomecek commented on #518
Would it make sense to point to this problem in documentation?

[2018-06-26 14:23] mtrmac commented on #518
I’m not sure; I don’t think that mentioning this in _every_ place where we use colons as separators is reasonable, and mentioning it once somewhere at the top would probably not be that effective.

[2018-07-11 19:32] bcg62 commented on #178
is this actually working? debug output doesn't tell me if its attempting to use a proxy and or what proxy address.

I can access internal urls (no_proxy) but am seeing 401's to external urls.

[2018-07-11 19:40] mtrmac commented on #178
@bcg62 Please file a separate issue, and _in there_, describe _precisely_ what command you are running and what is the relevant environment.  There are several uses of HTTP in `skopeo` and it may well be the case that one of the paths is broken, or never worked.

FWIW a quick `http_proxy=http://thisdoesnotexist ./skopeo --override-os linux inspect docker://alpine` at least demonstrates that the va

[2018-07-11 20:05] bcg62 commented on #390
homebrew package https://github.com/Homebrew/homebrew-core/pull/29982

[2018-07-11 21:07] mtrmac commented on #390
Great, thanks! (FWIW there has already been a 0.1.30 tagged, apparently we have mismanaged the GitHub options for that. Marked as a release now, at least.)

[2018-07-11 21:16] bcg62 commented on #390
@mtrmac thanks, updated to 0.1.30

[2018-07-18 01:20] lcarva commented on #172
How about generating C bindings? I'm not saying it's perfect, just posting an alternative: https://medium.com/learning-the-go-programming-language/calling-go-functions-from-other-languages-4c7d8bcc69bf

[2018-07-18 13:16] rhatdan commented on #172
Now that podman has a Varlink API you can do a lot of what people use skopeo for via podman

podman pull. podman push  Can all be done via varlink which as an API for Python, C and Javascript among others.

[2018-07-18 16:32] mtrmac commented on #172
If any C bindings were created, they would be for containers/image, not for skopeo. But I can’t see that it would help with any of the features underlying this request: It would require a C consumer, just like the existing c/image requires a Go consumer — i.e. not language-neutral; and it would not help at all with API stability.

The podman varlink API is indeed a good alternative, notably also b

[2018-07-18 16:39] lcarva commented on #172
C bindings work for various languages, not just C: python, ruby, node, and Java.

[Varlink API](https://varlink.org/) does look like a better option though.

[2018-07-18 17:50] rhatdan commented on #172
Closing this issue.

[2018-07-18 17:50] #172 closed

[2018-07-23 12:39] ipanova opened #526 "docker pull fails with unexpected end of JSON input"
Output of:
skopeo copy --format v2s1 docker://busybox:glibc dir:existingemptydirectory
was tared uploaded to Pulp, published which enables to serve the content as of from docker registry.

docker pull fails with:
[code]

docker pull from output of skopeo copy --format v2s2 works as supposed:
[code]

Docker pull from content synced directly from the docker registry also works as expected.

Versions

[2018-07-23 16:28] grdryn opened #527 "Allow supplying credentials with colons in usernames"
I'm trying to use `skopeo` in a Jenkins pipeline on OpenShift, and copy an image from the built-in registry (using credentials for a ServiceAccount) to an external registry, but I get the following error saying there's an invalid username/password:

[code]

My _guess_ is that this is due to the username passed to `--src-creds` is `system:serviceaccount:mini:jenkins`, and the password being a long

[2018-07-23 16:33] mtrmac commented on #526
Thanks for your report.

It’s not obvious to me that `skopeo` is the cause here when the data is being served by Pulp. (I’m not saying it isn’t `skopeo`’s fault, just that the description above does not say either way.)

At the very least, does `skopeo inspect $registry/$image`, and `skopeo copy docker://$registry/$image dir:temp-dest` work or fail? Is the image in `dir:temp-dest` and the original

[2018-07-23 16:42] mtrmac commented on #527
Thanks for your report.  Yes, this splits on the first colon, and there is no escaping. (This somewhat mirrors long-standing UNIX practice, where the format of `/etc/passwd` makes it impossible to have usernames with colons, so colon is the ideal separator; compare `chown(1)`.)

`--authfile` should work.

Alternatively, adding separate user name / password options (with password optional, but only

[2018-07-23 22:17] grdryn commented on #527
Thanks for the response @mtrmac. I got an alternative solution from @bparees here: https://github.com/openshift/jenkins/issues/632#issuecomment-407121402

I've tested this with `skopeo` and it works as described: even though the user would be `system:serviceaccount:mini:jenkins` if I do `oc whoami`, I can set it to anything before the colon separator  in `--src-creds` or `--dest-creds`, because it

[2018-07-24 10:19] ipanova commented on #526
skopeo inspect and copy commands do work.
I am not sure how to reproduce this outside of pulp env, but couple of things i noticed:
1) docker pull of v2s2 works without problem
2)this is the diff of the manifest v2s2 of busybox:glibc from skopeo copy using dir transport and API response from the registry:
[code]
Meanwhile:

1) the problem with docker pull occurs just with v2s1 ( only from output fr

[2018-07-24 12:48] ipanova commented on #526
json files:
[code]

[2018-07-24 22:09] mtrmac commented on #526
(Does “API response from the registry” mean Docker Hub or Pulp? The `manifest-registry.json` file is pretty-printed, and `skopeo` does not do that.)

A “signature” is randomly regenerated by `skopeo` on every update to the manifest, so it is expected to differ.  Do I understand correctly that the first file is from the Pulp registry server (or, maybe, the Docker Hub server?) and the second one is

[2018-07-27 15:08] vrothberg opened #528 "release skopeo 0.1.31"
Can we draft a new release of Skopeo? The latest version doesn't compile on i586 which is currently a blocker to get it into openSUSE Tumbleweed? In particular we need commit 976d57ea45f524f2299cd9fb444ba9912edc07b8 but we're hesitant to have a backport in the package.

@runcom @mtrmac @rhatdan

[2018-07-27 15:20] rhatdan commented on #528
SGTM

[2018-07-28 00:17] mtrmac commented on #528
Sure.

@runcom usually does the releases; is there more to it than the two commits, a tag, and a GitHub release entry? If not, I can do that early next week (feel free to remind me if necessary.)

[2018-07-28 11:54] rhatdan commented on #528
I believe that is all that is needed.

[2018-07-29 17:20] runcom commented on #528
new release here folks https://github.com/projectatomic/skopeo/releases/tag/v0.1.31

[2018-07-30 05:53] vrothberg commented on #528
Thank you all! Skopeo v0.1.31 is on its way into Tumbleweed :)

[2018-07-30 12:22] rhatdan commented on #528
Kicking off new skopeo builds for F28 and Rawhide is already updated.  Will also create packages for future RHEL releases.

[2018-07-30 14:17] TomasTomecek opened #530 "skopeo doesn't take /etc/containers/registries.conf [registries.insecure] into account"
We have an internal registry which is on http only and we are using skopeo to pull images from it.

Unfortunately skopeo doesn't respect the configuration in `/etc/containers/registries.conf`:
[code]

[code]

Is this a bug or am I missing something? I can PM the real URLs.

The solution we found which works:
[code]

[2018-07-30 14:34] mtrmac commented on #183
Not to the _full_ extent, but https://github.com/containers/image/tree/master/pkg/sysregistriesv2 is basically it, yes.

[2018-07-30 14:34] #183 closed

[2018-07-30 14:39] mtrmac commented on #530
Thanks for your report.

This is WIP in https://github.com/containers/image/pull/468 .

[2018-07-30 15:16] TomasTomecek commented on #530
oh, neat, thank you! we'll work-around in the meanwhile then

[2018-08-07 13:56] GabLeRoux opened #531 "Cannot delete tag on hub.docker.com {"errors":[{"code":"UNAUTHORIZED","message":"authentication required" ...]}"
Hi there,
Thanks for this awesome tool, very handy. I'm trying to delete a bunch of docker tags that are not useful anymore for a personal project (some automated built images from old branches) on docker hub. [More details here](https://gitlab.com/gableroux/unity3d/issues/10).

## What happens

When I try to delete an image or a tag from docker hub registry, I get the following error:

[code]

##

[2018-08-07 19:02] TomSweeneyRedHat commented on #531
Just curios, does

[code]
work for you?

[2018-08-07 22:49] mtrmac commented on #531
Thanks for your report.

The code was indeed not requesting sufficient permissions, and that should be fixed by https://github.com/containers/image/pull/487 .

Do note, though:
- That won’t make `skopeo delete` work on the Docker Hub:
[code]

- `skopeo delete` is not an “untag” operation: it deletes _the image_, and _all_ tags referring to it within the repository. It is not possible to delete a s

[2018-08-08 00:47] steveb opened #532 "skopeo copy containers-storage:... docker:... should deduplicate layers"
This issue is intended to track deduplication for copying containers-storage->registry, which is a more specific case for the general RFE #395. My hope is that the required compressed and uncompressed hashes are available in containers-storage to enable deduplication for the same image, and for images which share layers.

**Steps to reproduce the issue:**

1. Install and run docker-distribution lo

[2018-08-08 13:34] GabLeRoux commented on #531
@TomSweeneyRedHat yes inspect using creds works

<details>

<summary>inspect with creds command output</summary>

[code]

[code]

</details>

---

@mtrmac thanks for the detailed answer. I wonder how I can do this then. What I'm trying to do is the same as the action on docker hub to remove the tag:

![image](https://user-images.githubusercontent.com/1264761/43839234-97062662-9aeb-11e8-9a00-ff85a4

[2018-08-08 21:49] mtrmac commented on #531
Yes, I know this is available on the hub; nevertheless, there seems to be no (documented) API to do the same thing from a remote client. I’m afraid the web interface is the only option available.

[2018-08-08 22:38] mtrmac commented on #532
The general case is, I guess https://github.com/containers/image/issues/475 : we need to record a mapping between DiffIDs, compressed layer digests, _and their locations_.

containers/storage does record compressed layer digests, but not the locations; so we don’t know whether the layer is available in the repository (and can be reused directly), somewhere else on the same registry (and can be mou

[2018-08-08 23:16] GabLeRoux commented on #531
Ok thanks. Since this is not possible, I’m closing this issue and I’ll write a js snippet or a selenium python script to do this using the ui instead. Thanks for your time and help, that’s really appreciated.

[2018-08-08 23:16] #531 closed

[2018-08-09 01:39] steveb commented on #532
For the simple case of copying the same image twice, isn't there a much simpler fix of doing a HEAD call and only copying the layer if the response is a 404?

[2018-08-09 02:48] steveb commented on #532
OK, reading the code and watching skopeo copy --debug I see it is doing a HasBlob check, but for different hashes, which I think means the remote layer is compressed and the local one is uncompressed, so the hashes differ. This sounds like 2. which you mentioned in https://github.com/projectatomic/libpod/issues/1233#issuecomment-411569730

Does this mean HasBlob can be called *again* after "Compre

[2018-08-09 02:55] steveb commented on #532
Never mind, I see now how the computedDigest is extracted after the upload

[2018-08-09 13:56] mtrmac commented on #532
Currently the compression and the upload happen in parallel.  We could, in principle, do them serially, to make such a check possible — but that would make the ”layer not present” case slower, because it would have to take extra time to do the upload afterwards, and there would be an extra disk write+read.

https://github.com/containers/image/issues/475#issuecomment-403939228 shows that for compre

[2018-08-09 19:25] thomasmckay commented on #526
I built _projectatomic/docker_ and begin putting in prints (_logrus.Errorf()_) to see what was happening. Unfortunately I couldn't seem to get anything to print at the one match for the error here https://github.com/projectatomic/docker/blob/master/vendor/src/github.com/docker/go/canonical/json/scanner.go#L167 . I don't know where the problem may lie but believe it is probably _docker pull_ expect

[2018-08-09 19:36] mtrmac commented on #526
The other one is probably in the standard library package `encoding/json`.  Adding a debug print there may be painful — unless there’s some trick to it, it could require patching `golang` itself.

OK, that localizes the root cause to `distribution/pull_v2.go:v2Puller.pullV2Repository` and the things it calls, ruling out most of the daemon.  Worst case, you could just sprinkle debug statements on e

[2018-08-09 19:44] thomasmckay commented on #526
Sorry, I meant to include the last line I can figure out how to put debug statements around: https://github.com/projectatomic/docker/blob/master/distribution/pull_v2.go#L340 . I don't know how to go any lower than that. Prints around _scanner.go_ link above don't print, as I mentioned.

[2018-08-09 19:54] mtrmac commented on #526
That’s probably https://github.com/projectatomic/docker/blob/bc0ab34be933e29e84fa87aecb97b56106c2e4cd/vendor/github.com/docker/distribution/registry/client/repository.go#L418 .

AFAICS either the reported status is a failure, and JSON is parsed in https://github.com/projectatomic/docker/blob/bc0ab34be933e29e84fa87aecb97b56106c2e4cd/vendor/github.com/docker/distribution/registry/client/errors.go#L4

[2018-08-09 19:58] thomasmckay commented on #526
@mtrmac - I'll debug. I know the Content-Length is correct but need to double check on Content-Type (@ipanova maybe you can confirm and test that separately)

[2018-08-09 20:10] mtrmac commented on #526
@thomasmckay Or maybe capture the full request and response by wrapping 	https://github.com/projectatomic/docker/blob/bc0ab34be933e29e84fa87aecb97b56106c2e4cd/vendor/github.com/docker/distribution/registry/client/repository.go#L469 with `httputil.Dump*`, like https://github.com/mtrmac/image/commit/8f753285ef7f1a2defa19a8fd69f54dd4b78a802 does with other code, but with `true` as the `body` paramete

[2018-08-09 20:40] thomasmckay commented on #526
@mtrmac - I'll try that.

My debug with httputil.Dump:
[code]

My debug just after this line: https://github.com/projectatomic/docker/blob/master/vendor/src/github.com/docker/distribution/registry/client/repository.go#L490
[code]

[2018-08-10 15:09] jamshid commented on #214
Just tried skopeo to copy from a docker registry to local dir and yeah, it seems to download each layer sequentially and it's pretty slow.

[2018-08-12 17:49] jchristi commented on #389
containers/image#305 has been merged. What is the status of this issue?

[2018-08-12 18:29] duglin opened #533 "IdentityToken doesn't seem to work for auth"
Does Skopeo support IdentityToken auth when copying to a destination registry? I can get it to work with userid/password but using a token seems to always be rejected. I can have the docker cmd line talk to the registry just fine so I think the ~/.docker/config.json file is ok - so I'm wondering if skopeo supports it.

[2018-08-13 10:09] ipanova commented on #526
@thomasmckay thanks a lot for debugging and looking into this.
@mtrmac thanks for the explanation in https://github.com/containers/skopeo/issues/526#issuecomment-411901330 i am closing this issue since skopeo has nothing to do with the current traceback

[2018-08-13 10:09] #526 closed

[2018-08-13 16:29] mtrmac commented on #533
Probably not; what is an “IdentityToken auth”, and where it is documented? Google can find only a little-documented Engine API field, and a vague mention in  config.json supposedly only relevant to credential helpers(?!).

[2018-08-13 16:57] duglin commented on #533
Yep, docs are slim in this space, but you can find some refs to it:
- https://godoc.org/github.com/fsouza/go-dockerclient
- (maybe) https://docs.docker.com/registry/spec/auth/token/   ?
- and in registry/service.go and registry/auth.go  in the docker src

I was kind of hoping skopeo just vendored in the registry client and it would pick up support automatically.

[2018-08-30 20:08] lbrigmanArris opened #544 "skopeo declares source or destination invalid when FQDN ends in ."
When trying to run the copy command using a FDQN where the last character is a period
 skopeo declares:
FATA[0000] Invalid destination name docker://docker-registry.default.svc.cluster.local.:5000/gsm/mdc-ui:latest: invalid reference format

This is using:
skopeo --version
skopeo version 0.1.31-dev

In OpenShift, this is the value returned from a lookup on the service.

[2018-08-30 20:38] rhatdan commented on #544
Do you think the DFQN ending with a period is valid?

[2018-08-30 20:43] lbrigmanArris commented on #544
Yes, I think it is.
Here is the use case:
oc project default
Now using project "default" on server "https://gsm-t1.lab.c-cor.com:8443".
[root@gsm-t1 ~]# oc get svc
NAME               TYPE        CLUSTER-IP       EXTERNAL-IP   PORT(S)                   AGE
docker-registry    ClusterIP   172.30.211.188   <none>        5000/TCP                  14d
kubernetes         ClusterIP   172.30.0.1       <non

[2018-08-30 20:47] rhatdan commented on #544
@mtrmac WDYT

[2018-08-31 13:42] mtrmac commented on #544
No.

docker/distribution references are not arbitrary strings, and have restricted syntax.  Refusing the trailing `.` in DNS names is, in this respect, no different from refusing non-ASCII or uppercase characters. Just because DNS has syntaxes which accept them does not mean docker/distribution references must accept them a well.

Also consider what accepting other forms does to comparisons and lo

[2018-09-06 12:44] mduft opened #545 "Copy Windows image to Linux host"
I would like to skopeo copy a windows image to a linux host to create (via pure filesystem manipulation with umoci) new layers. Windows is dead slow with a lot of files, so I'd rather use linux :) I don't need to be able to run any commands, thus I don't need support for Dockerfile, RUN, etc. I just want to add files, and commit a new layer.

Trying out skopeo to do this, I unfortunately get:

[co

[2018-09-06 16:22] tarasglek opened #546 "make binary-static DISABLE_CGO=1 fails"
I tried to make a static binary per docs and failed:
`taras@dev-taras:~/skopeo$  make binary-static DISABLE_CGO=1`

[code]

[2018-09-06 20:27] mtrmac commented on #545
Oh, intermediating through `dir:` to `oci:` does not work either, because the copy to `dir:` does not rewrite the manifest (that only happens when something about the layers _changes_ during the copy), and the subsequent copy to `oci:` again finds that it can represent the foreign references and uses them.

So, adding the option to explicitly opt out would be the only clean solution.

[2018-09-07 05:07] mduft commented on #545
Thanks for the answer(s). It at least gives me an idea, despite there is no solution (yet). Thanks :)

[2018-09-10 10:03] lachmanfrantisek opened #547 "Support user containers-storage"
Is there some way to use `skopeo copy` for the **containers-storage** located at `~/.local/share/containers/storage`. I am using **rootless podman** and would like to use the user, not the system-wide (`/var/lib/containers/storage/`) location.

Thanks.

[2018-09-10 14:12] rhatdan commented on #547
Not sure if skopeo supports this right now.  But it should.

@lachmanfrantisek You know that most of skopeo interactions are availble via `podman pull` and `podman push`

[2018-09-10 16:08] mtrmac commented on #547
The containers/storage transport does not use options for most of this; it is somehow exposed in the reference syntax, e.g. `containers-storage:[vfs@/some/storage/root/dir]busybox`.  I don’t know whether this is documented, in the worst case see `storageTransport.ParseReference`.

It seems that you would have to figure out the options and syntax to match `libpod`’s `GetRootlessStorageOpts`.

[2018-09-10 19:39] rhatdan commented on #547
Couldn't we just have skopeo vendor in this code and call it when not running as root?

[2018-09-10 19:52] mtrmac commented on #547
\*shrug\* Not _trivially_ because `containers-storage:` embeds this data into the reference instead of using external options like most other transports (where we can, and do, just add more CLI options `skopeo copy`); so we would end up with either some new syntax, or non-transparently reintepreting the user’s actual `containers-storage:…` input to mean something else than what it says.

It’s of c

[2018-09-11 05:38] lachmanfrantisek commented on #547
@rhatdan @mtrmac Thanks!

The `podman push` was what I need. (It chooses system-wide when root and `~/.local/share/containers/storage` when rootless. Great!)

-----

I am working on  the [user-cont/colin](https://github.com/user-cont/colin/) (container-linter). We are 'checking' dockerfiles and container images. Nowadays, we are switching from the docker to podman... Due to some optimizations, we

[2018-09-11 10:10] lachmanfrantisek commented on #547
With this format (`containers-storage:[vfs@/some/storage/root/dir]busybox`), I am getting `missing necessary StoreOptions `... Nevertheless, I am ok with the `podman push` solution.

Can I close this issue, or should I leave it for the discussion about podman/skopeo intersection?

[2018-09-11 13:06] rhatdan commented on #547
No I think we can close.
@lachmanfrantisek When you are done, please write up a blog explaining what you did I would love to read it and promote it.

[2018-09-11 13:06] #547 closed

[2018-09-11 14:14] besnardjb opened #548 "Incorrect OCI Mediatype after copy from containers-storage"
Dear maintainers,

I would like to report an oddity I've encountered while using skopeo in conjunction with buildah. Given my limited knowledge of the codebase, it appeared to me that the issue was related to the *skopeo copy* operation, I hope that it is correct.

This is how I encounter the issue:

buildah @ https://github.com/projectatomic/buildah/commit/08c56308c53c6525ef9060acde2c83026c5186eb

[2018-09-11 19:30] mtrmac commented on #548
Thanks for the report.

Yes, this is a known bug: `copy.Image`, in `copyBlobFromStream`, can compress/decompress layers, but does not adjust MIME types.

[2018-09-11 19:56] mtrmac commented on #547
Yeah, the various options from https://github.com/containers/libpod/blob/2e6243b18539175b5ff029a924c4d83834f83d2b/cmd/podman/libpodruntime/runtime.go#L16 need to be added to the string as well (at least the “RunRoot”, which this is complaining about), but maybe also a CGroup manager, hooks directories).

I don’t know what the full string actually looks like, to be honest. `containers-storage:[vfs@

[2018-09-12 09:53] lslebodn opened #549 "ostree: Cannot handle metadata object bigger than 10.5 MB"
We use skopeo + ostree to run colin[1] for sanity checking of images in unprivileged containers in openshift.

We recently hit an issue with "maximum metadata size" with skopeo+ostree.

I am not sure whether limitation is in skopeo or in ostree.
[code]

There is even fedora BZ for this issue with more detailed reproducer.
https://bugzilla.redhat.com/show_bug.cgi?id=1628121.

[1] https://github.com

[2018-09-12 13:41] rhatdan commented on #549
@cgwalters @giuseppe @mtrmac WDYT?

[2018-09-12 13:43] ashcrow commented on #549
https://github.com/ostreedev/ostree/blob/a70d2f67310bd869c6a40c4013dc51a3e2f2d2a8/src/libostree/ostree-repo-commit.c#L2315 is where the error is being reached within `metadata_size_valid()`.

[2018-09-12 18:00] lslebodn commented on #549
OK, related comment says that it is arbitrary number. [1]
I assume it is caused but huge layer in image because OSBS merge all layers into single one.

[code]
[code]
Is that assumption correct? BTW Is it related to how skopeo stores data in ostree or is that pure ostree limitation?

@cgwalters, could it cause any ABI issues if the value will be increased?

[1] https://github.com/ostreedev/ostree/b

[2018-09-13 00:33] mtrmac commented on #549
If I had to _guess_, it’s caused by storing the whole tarsplit blob (= all headers of the tar stream of a layer, in their unmodified binary form) in the per-layer commit objects; that can indeed grow with the image size. Otherwise the commit object seem to be fairly small if I understand the OSTree docs right.

(I have no idea whether there is any better option for storing the tarsplit blobs.)

[2018-09-13 07:30] lachmanfrantisek commented on #547
@mtrmac Thanks, I'll stay with podman, since it resolves that automatically...

[2018-09-13 14:59] giuseppe commented on #549
yes I think it depends on the tarsplit blob which in this case probably exceeds 10 MB.  I agree with Colin ( (https://bugzilla.redhat.com/show_bug.cgi?id=1628121#c2) that it is probably better to drop this limitation in OSTree instead of trying to include the tarsplit data as part of the OCI layer data.

[2018-09-13 15:05] cgwalters commented on #549
https://github.com/ostreedev/ostree/issues/1721

[2018-09-17 12:04] mtrmac commented on #546
Thanks for your report; #552 should fix this.

(This could have never worked — and we didn’t notice because we do builds without containers, using the `-local` `Makefile` targets. So, using `make binary-local` is probably a safer bet.)

[2018-09-17 12:28] #546 closed

[2018-09-18 16:56] mtrmac commented on #107
There is a WIP PR at https://github.com/containers/image/pull/400 , I’m afraid the progress has stalled for some time.

[2018-10-02 19:33] chilicat opened #556 "Cannot import docker archive with more then one image"
It seems like that skopeo does not support to copy a docker-archive with more than one image to a registry

Example:
[code]

It would be great to support that use-case.

[2018-10-03 14:59] mtrmac commented on #556
Right; you can write `docker-archive:./test.tar:alpine:latest`, but that currently only results in a warning

[2018-10-03 17:56] chilicat commented on #556
What I'm actually looking for is to import all images with one command. The deployment process I'm implementing does not know about the images in the archive.

[2018-10-03 18:04] mtrmac commented on #556
`skopeo copy` fundamentally works one image at a time; containers/image does not have a “repository of images” abstraction. #524 is somewhat moving in that direction, but it’s non-trivial.

A single container image is more or less everywhere the same kind of thing with the same semantics, but groups of images have _very_ different semantics (gzipped archives where there is very high cost to settin

[2018-10-03 18:13] chilicat commented on #556
Yes, that looks like the feature I'm looking for. I will close the issue.
Thank you for your response.

[2018-10-03 18:13] #556 closed

[2018-10-04 21:31] greglanthier commented on #533
Is this only a matter of using the Docker registry client (a la [docker/distribution](https://github.com/docker/distribution/tree/master/registry))?

I've had modest success in the past with some home-grown CLI tools that vendored the distribution client combined and [docker-credential-helpers](https://github.com/docker/docker-credential-helpers) tools to authenticate against various Docker regist

[2018-10-04 22:01] mtrmac commented on #533
`skopeo` uses GitHub.com/containers/image, which has its own client implementation.

I don’t know about anyone else working on this (as mentioned above, no documentation at all = no known benefits), PRs to containers/image would be welcome.

[2018-10-04 22:37] greglanthier commented on #533
Thanks @mtrmac !

I’ll scan the existing [issues](https://github.com/containers/image/issues).

If nothing seems to fit I’ll draft a new issue for [github.com/containers/image](https://github.com/containers/image) sketching the problem and linking to resources I’ve found that explain Docker Registry v2 [token authentication](https://docs.docker.com/registry/spec/auth/token/) (limited though they m

[2018-10-06 14:17] manveru commented on #214
I found this patch to parallelize the upload: https://github.com/agonzalezro/image/commit/8d49c78764d56ad2c485ff9ff1d1726196469243
Unfortunately there isn't even a PR for it yet.
@agonzalezro are you using this?

[2018-10-06 17:32] mtrmac commented on #214
I think there’s a substantially similar PR around here somewhere — but the transports just can’t work safely when naively making several transports in parallel like that.  Truly reworking this to be parallel would be a much larger work.

I’m working on that now, but it may take a few more days/weeks.

[2018-10-06 20:57] manveru commented on #214
After some more searching, I finally found https://github.com/google/go-containerregistry/blob/master/cmd/crane/doc/crane.md which supports skipping layers but is still sequential as far as I can tell.

[2018-10-07 21:38] agonzalezro commented on #214
@manveru I am not using the patch I created, it was just a POC to show to @runcom but after talking with him he has shown me that, as @mtrmac said, there is much more work than just parallelizing the download.

If I can help somehow I would be happy to do it.

[2018-10-10 20:28] alonbl opened #557 "DOCKER_HOST is being ignored?"
Hello,

I am using atomic within centos docker image, the image includes docker-client which communicates with docker server using TLS.

For some reason the DOCKER_HOST is being ignored. I see that client.go::NewEnvClient should accept the environment, however, I do not see any reference to it, maybe I am missing something. I expect the process to use DOCKER_HOST if explicit host is not provided i

[2018-10-10 20:40] mtrmac commented on #557
Thanks for your report.

Right; the library tries to minimize behavior changes based on (completely invisible and difficult to audit) environment variables, and $DOCKER_HOST is not supported. (The `docker-daemon:` functionality was from the start implemented to work with a _local_ daemon.)

The library does allow overriding the host, and the `skopeo` CLI exposes it, in this case you could use `sko

[2018-10-10 20:47] alonbl commented on #557
Hi!
Thanks for quick respond. No the atomic does not delegate that into the skopeo. Can you please consider supporting the DOCKER_HOST as fallback if a parameter is not provided? I believe this is the expected behaviour in docker environment. Alternatively, support a configuration file where these can be specified.
Thanks!

[2018-10-10 20:54] mtrmac commented on #557
As mentioned above, implicit environment affecting libraries makes for behavior that is difficult to reason about.

Also, do you have some unusual reason for running the signing remote this way?

In general, I’d rather strongly recommend running the `skopeo` command directly on the destination host:
- Using `--src-daemon-host= docker-daemon:` is _very_ inefficient: it makes an _uncompressed_ copy

[2018-10-10 21:04] alonbl commented on #557
Hi,

Environment variable as defaults is stable and make sense... most of the application including the most secure ones such as openssh, gnupg fallback to environment and only if absent fallback to the hardcoded default. Needless to say that docker behaves the same, so I do not understand what difficult to reason about, it is best practice and expected behaviour.

Using atomic as a wrapper is wha

[2018-10-10 21:16] mtrmac commented on #557
Environment variables _may_ make sense at the top application level; anywhere deeper in a stack of libraries or applications they are very risky, when the library just arbitrarily does something entirely different from what its caller asked it to do just because a value was left in the environment (and, while environment variables are at all prevalent, the only reasonable way for the caller to pre

[2018-10-10 21:30] alonbl commented on #557
Atomic properly document the use of the well known environment variables[1], as expected and working. The library that you use endorse using the environment based client. All components behaves in consistent way, except of this component.

I am sorry, but I do not get your point. Following your logic, there must be no defaults in your tools as all must be provided by top level explicitly. It just

[2018-10-10 23:40] alonbl commented on #557
Closing as probably not interesting.

[2018-10-10 23:40] #557 closed

[2018-10-11 22:33] mtrmac commented on #557
Sure, there is a _default_, it is `unix:///var/run/docker.sock`. We are talking about are different ways of expressing _options_, and environment variables are a non-transparent and risky way to express an option. (In some cases, like `DISPLAY` or `XDG_RUNTIME_DIR`, that option is so widely needed and the implicit inheritance through `fork`/`exec` is so desirable  that an environment variable stil

[2018-10-12 09:34] rhatdan commented on #557
Perhaps DOCKER_HOST Should be supported by podman and buildah, But I agree that skopeo should not support it, since it is supposed to be a low level tool for manipulation of images.

[2018-10-13 00:49] mtrmac commented on #557
Note that it would affect only `docker-daemon:`.  Still, that may be a desirable feature (`podman pull` from a remote Docker daemon)

[2018-10-13 06:09] alonbl opened #559 "Add --daemon-host parameter to inspect"
If docker socket is either in non standard location or using tcp, it is impossible to use docker-daemon: as the DOCKER_HOST environment variable is not considered and there is no parameter to allow override.

[2018-10-13 07:35] alonbl opened #560 "copy: add null transport format to support signature verification"
Hi,

Maybe I am missing something, but there is no way to perform verify only of an image signature with the policy configuration. The only option I found is to use the copy the image to other image.

If that's true, it would be great if you add null transport format to allow something like:

[code]

This will execute the cycle of verifying the source while not download/uploading the entire conten

[2018-10-15 16:08] mtrmac commented on #560
Thanks for your report.

Signatures are intended provide end-to-end nonrepudiability (proof of who signed the image, verified directly by the final consumer), even if the intervening registries / mirrors / HTTP proxies / other transport mechanisms are unreliable or outright malicious.

With these goals, “verify a remote image” is a very dangerous operation to provide: the verification results are

[2018-10-15 16:17] mtrmac commented on #559
Thanks for your report.

Sure, that is…an implemented and…valid…operation to perform.

#523, while refactoring the CLI, does add the option to `inspect`, so this will be provided.

Still, I can’t overemphasize how inefficient `skopeo inspect docker-daemon:…` is: it downloads the _entire image_ with all layers, _uncompressed_, over the network, and creates a temporary copy of the uncompressed image

[2018-10-15 16:29] alonbl commented on #559
Thanks!
I understand that this is inefficient, but in order to debug signature (use the standalone tools) the inspect should be usable... and currently it is unusable when using remote docker host.

So closing this as dup of #253 .

[2018-10-15 16:29] #559 closed

[2018-10-15 16:33] mtrmac commented on #559
If you are planning to use `skopeo inspect` to fetch the manifest to validate against signatures, note that that won’t work because `docker pull` irrecoverably discards the original manifest.

Using a `docker-daemon:` source creates a new manifest from the other metadata in the `docker save` tar file (which _almost always_ differs from the original, because it refers to the uncompressed versions o

[2018-10-15 16:38] alonbl commented on #560
Hi,

Thank you for the long description! I fully agree with anything you write. However, the use cases I had in mind are different... Mostly verify integrity of the repository and configuration not to actually execute the image.

Using standalone-verify is what I begun with, until I found out that it does not use the policy nor the repositories.d so it cannot verify the entire settings. The copy,

[2018-10-15 16:39] alonbl commented on #559
Oh! That's bad... even more reason to address #560  :)

[2018-10-15 16:49] mtrmac commented on #560
Right, that’s the ”audit use case”; the null transport, or a policy-aware version of `standalone-verify`, is certainly software that can be written (e.g. take the `dir:` transport and drop all writes), but as soon as it exists and is anywhere documented as “this is how you can verify a remote signature is valid”, I’m worried that it will be found and misused.

So I’m very tempted to say “feel free

[2018-10-15 17:08] alonbl commented on #560
I do not understand why signature-policy-verify is not usable and require a separate tool to be written. I gave valid use cases that signature validation as infrastructure validation makes sense. Of course I can continue to copy it into a docker-archive while wasting network and cpu resources....

[2018-10-15 17:12] rhatdan commented on #560
@mtrmac Why/How do you think it will be abused?

[2018-10-15 17:19] mtrmac commented on #560
[code]

Sure it’s not the _right_ way to think about this, but the point-in-time-and-data aspect of verification is not quite obvious and people gravitate to an explicit/separate verification action (maybe so that there _is_ an explicit action and the mental checklist can be makes as handled). E.g. persuading OpenShift developers to make `oadm verify-image-signature` at least not completely broken

[2018-10-15 17:27] mtrmac commented on #560
I quite agree that this “should not” be happening; I’m reporting how (smart) people _actually think_ they should be using the system, and thus what is likely to be happening in practice.

[2018-10-15 17:58] alonbl commented on #560
Only smart people can use this skopeo tool :)

It took me 2 full days to understand the tool, the limitations and how to embed it into my flows. Not to mention the two signature types (docker, atomic) and the two options of distributing atomic (out-of-band, in-bound using red hat docker-distribution extension, which per entire repo cluster and not per image).

I am still unconvinced why the docker

[2018-10-15 18:03] mtrmac commented on #560
This is necessary so that you don’t get ISV’s correctly-signed `debug-image-with-unrestricted-remote-reverse-shell` when you wanted to install `hardened-application-image-with-a-single-restricted-port-open` from the same ISV. Or so that you don’t get vulnerable `product:0.0.1` when you wanted to install latest `product:10.3.2`.

`policy.json` does anticipate mirrors and supports the `exactReferenc

[2018-10-15 18:44] mtrmac commented on #560
As far as I know, for source-based tarball releases, they were typically downloaded manually; the nameless signature authenticated the origin and that the tarball was unmodified; _after expanding the tarball_, the convention was to expand it into a _project_-_version_ subdirectory, which authenticated the identity of the contents. This depended on a human noticing that the contents of the tarball

[2018-10-15 19:12] alonbl commented on #560
OK, I guess we can agree to disagree... as the operational side is also important.

Embedded signatures does not mean that original signature invalidate content, from PKCS#7 days you could have added signers without impact on existing signers. The only change is that we do not have standardization of formats anymore and every project invent its own.

Using pgp instead of X.509 also adds operationa

[2018-10-15 19:32] mtrmac commented on #560
What is the _specific_ operational problem you are facing? I kind of ended up explaining the rationale for the design, but it’s not quite clear to me what is the specific thing you need to be better.

Assuming that the name matching in signatures is valuable (or do you completely disagree that this is an useful thing to do?), are we talking about a better way to remap locations and identities in `

[2018-10-15 19:38] alonbl commented on #560
Thanks for sharing everything. I am mostly interested in an offline isolated network solution.

Just for letting you know... I am using skopeo with gpg and HSM...[1]

[1] https://github.com/alonbl/gnupg-pkcs11-scd

[2018-10-18 15:04] MansM opened #563 "Support MacOS keychain for ca's"
As a skopeo user within an enterprise I want to use skopeo
on my local mac talking to a registry from the company running an corporate ca signed cert
in order to do skopeo inspect/copy/etc

the error message I got:
 x509: certificate signed by unknown authority

[2018-10-19 11:53] mtrmac commented on #563
Thanks for your report.

The docker/distribution client, at least, uses the system’s CAs as provided by Golang’s `x509.SystemCertPool`; AFAICS that does use the OS configuration on macOS (using `SecTrustSettingsCopyCertificates` per `src/crypto/x509/root_cgo_darwin.go`) — Go does not have its own list of CAs  it seems, and `skopeo` definitely does not have a separate one. So, something else might

[2018-10-22 13:14] mtrmac commented on #563
Thanks; that uses the default Golang TLS configuration, with only https://github.com/containers/image/blob/bd10b1b53b2976f215b3f2f848fb8e7cad779aeb/docker/docker_client.go#L137 changed; that doesn’t look like it should change things.

[2018-10-24 12:27] uablrek opened #564 "Ipv6 addresses not recognized in docker references"
## Ipv6 addresses in docker url does not work

[code]

Ipv6 works though;
[code]

## Environment

[code]
OS: Ubuntu 18.04.1 LTS

The private docker registry started as described [here](https://github.com/Nordix/xcluster/tree/master/ovl/private-reg)

## Additional info

I am using `skopeo` as a tool for `cri-o` in Kubernetes.  `cri-o` can't handle ipv6 addresses either, for instance in `/etc/crio/c

[2018-10-24 12:57] runcom commented on #564
yes, very likely, does it work if you do a normal docker pull instead?

[2018-10-24 14:02] mtrmac commented on #564
Thanks for your report.

IPv6 addresses aren’t valid syntax in Docker references, so this would be a big struggle throughout the ecosystem (and it isn’t clear that the syntax can be extended without breaking stuff—e.g. the `containers-storage:` transport uses a `[`…`]` prefix for something entirely different.).

Considering how unwieldy IPv6 addresses are, and how they make deploying TLS difficult

[2018-10-24 16:21] uablrek commented on #564
I see the problem especially with TLS which is the normal case. My test env is of course a corner case and I can live without using ipv6 addresses in docker references. But they look awfully lot like a URL and using `curl` I can access the registry with a http://[.....]:5000/  address.

I close this issue since it is not a bug and not really something necessary.

Thanks for your answer.

[2018-10-24 16:21] #564 closed

[2018-10-31 08:30] MansM commented on #563
ehm. It could be me (probably), but I have no idea what you are trying to say.
Should something be fixed in skopeo or in docker_client?

[2018-10-31 14:22] mtrmac commented on #563
That’s still unknown; the discrepancy between the certificates you have configured in the macOS keychain and the certificates used by the Golang TLS stack needs to be debugged.

Honestly I’m completely unfamiliar with the macOS keychain API (or, really, debugging any macOS native code), so I’m afraid I’m not likely to be that much help with this, in the very near future at least. https://github.co

[2018-11-04 00:03] kirbyfan64 commented on #547
Okay, so I'm trying to figure some of this, because all I need is to be able to inspect and copy. When I run skopeo, the vfs driver's chown fails with "invalid argument", presumably because of the remap-uids option. However, I can't figure out how to set it, or what to set it to. I know it should be something like `[vfs@$HOME/.local/share/containers/storage+/run/user/$UID/skopeo:remap-uids=whateve

[2018-11-05 18:39] mtrmac commented on #547
Looking at https://github.com/containers/image/blob/4b6d9cf918c1e79a605265568c93cb35185ad25d/storage/storage_transport.go#L260-L262 , it might not be possible to change the mapping using that `[`…`]` syntax.

I have randomly encountered https://github.com/containers/libpod/issues/1087 including a debug log line
`[vfs@/home/tt/.local/share/containers/storage+/run/user/1000/run]docker.io/library/bus

[2018-11-07 14:27] vbatts opened #567 "`make` fails on centos7"
I've installed the podman rpm (`podman-0.9.2-5.git37a2afe.el7_5.x86_64`) to ensure all dependencies are present, and then built&installed podman master

[code]

When I attempt to `make` skopeo master (187299a20b864610a55711278856b7a15ae4e37a) it fails at this point:
[code]

[2018-11-07 14:38] rhatdan commented on #567
--security-opt label=disable
                              ^

[2018-11-07 22:15] kirbyfan64 commented on #547
@rhatdan The exact command I was trying is `skopeo --insecure-policy inspect "containers-storage:[vfs@$HOME/.local/share/containers/storage+/run/user/$UID/skopeo:]alpine"`. I'm not necessarily trying to pull; the advantage of Skopeo is that I can interact equally with the Docker daemon as well as podman itself with the same command.

[2018-11-08 20:44] vbatts commented on #567
I think the local build should always be default

On Thu, Nov 8, 2018, 15:27 Miloslav Trmač <notifications@github.com wrote:

[2018-11-08 21:52] #567 closed

[2018-11-09 17:34] rhatdan commented on #567
@mtrmac Yes local should be the default.

[2018-11-13 09:34] rhatdan commented on #547
I don't see why we could not do this.

[2018-11-21 19:50] ktdreyer commented on #172
I'm interested in querying the labels for a particular image tagged in a registry, using Python.

Is there a way to use "skopeo inspect" in Python to do this?

Or should I use https://pypi.org/project/python-dxf/ ?

[2018-11-21 21:13] rhatdan commented on #172
You would have to exec skopeo from python,  We don't have python bindings yet for containers image, although theoretically they would be possible.

[2018-11-27 23:41] git001 commented on #391
I would be also very helpful got have some windows binaries as a lot of developer are still on windows.

[2018-12-12 23:52] vugardzhamalov opened #571 "Enable support for explicit authfile path to podman generated authfile"
I was wondering if it is possible (maybe planned already) to implement explicit '--authfile' switch in order to point skopeo at specific podman generated authfiles? Thank you!

[2018-12-12 23:58] #571 closed

[2018-12-12 23:59] vugardzhamalov commented on #571
Outdated version, seems that the feature has been implemented already.

[2018-12-13 09:35] giuseppe commented on #363
you can specify the path as: `containers-storage:[overlay@/var/lib/containers/storage+/var/run/containers/storage]foo:latest`, or is there something more missing?

[2018-12-14 15:35] gilligan opened #574 "Create new release"
**Request**: I would like to ask if a new skopeo release could be made sometime soon.

**Rationale**: I think the merging of https://github.com/containers/image/pull/526 warrants a new release since this has quite a big positive user impact for anyone using skopeo to regularly push images to a docker registry - I just built skopeo from master and tried it and it is working nicely.

Is this feasibl

[2018-12-17 18:32] rhatdan commented on #574
SGTM
@runcom Could you make this happen.

[2018-12-17 18:42] vrothberg commented on #574
I have high hopes we can get the PRs using pgzip and the parallel-copy one in.

[2018-12-18 16:35] rhatdan commented on #574
SGTM.

[2018-12-18 16:38] runcom commented on #574
I'll wait for what @vrothberg said before releasing, thanks for the ping

[2018-12-19 11:11] #574 closed

[2018-12-21 14:11] vrothberg opened #578 "Add more integration tests pushing to a registry"
The CI did not catch https://github.com/containers/image/pull/553 which raised my desire to add integration tests pushing to a registry. Similar to Buildah's CI we can setup a locker registry running on `localhost:5000` and use it for push/pull tests.

[2019-01-02 12:18] afbjorklund opened #580 "Confusing make targets"
`make` starts a container, and `sudo make install`fails ?

Seems that you need to "make binary-local" to just do a regular build. And that "skopeo" is missing ?

`make: *** No rule to make target 'skopeo', needed by 'install-binary'.  Stop.`

It would be better if binary-local was called "skopeo", and if the static binary was called "skopeo-static"

[2019-01-02 12:44] vrothberg commented on #580
I agree as well. I continuously jump into this trap when working on podman or buildah before. @runcom @mtrmac WDYT?

[2019-01-02 16:18] mtrmac commented on #580
Yeah, as mentioned elsewhere here, building dynamically-linked binaries in a container for a different OS version, or an entirely different OS, and expecting them to be usable locally, is just incorrect.

The default should be `binary-local`.

I’m almost tempted to drop the in-container builds entirely, AFAICT we are not using them and thus they sometimes break without anyone noticing, but IIRC fr

[2019-01-03 18:51] mtrmac commented on #578
We do have _some_ tests pushing to a registry, e.g. `TestCopySimple` was the first one I saw.

We could definitely have more tests, though — the skopeo integration test suite hasn’t been expanded in a _long_ time, and we are not measuring its coverage of c/image/docker at all.

[2019-01-07 14:49] Silvanoc opened #583 "Consolidate contribution documentation"
The documentation needed to read when contributing to the project seems to be spread between the [CONTRIBUTING section of the README.md](https://github.com/containers/skopeo/blob/master/README.md#contributing) and the [CONTRIBUTING.md](https://github.com/containers/skopeo/blob/master/CONTRIBUTING.md).

Wouldn't it be meaningful to move the section [CONTRIBUTING > dependencies-management](https://g

[2019-01-07 18:21] rhatdan commented on #583
Sure, please open a PR.

[2019-01-07 23:51] Silvanoc opened #585 ""make vendor" removes dependencies"
I'm trying to update vendoring with `make vendor` as required to [add new dependencies](https://github.com/containers/skopeo/blob/master/README.md#dependencies-management) and what I'm observing seems pretty strange.

First all repositories referenced in `vendor.conf` are being cloned. But in the end those where `vndr` is reporting `WARNING: package xyz is unused, consider removing it from vendor.

[2019-01-08 11:00] vrothberg commented on #585
I can't reproduce this on the latest master branch. Did you change any files? If the state is clean and the issue persists, it might be worth installing the latest `vndr`.

[2019-01-08 21:58] Silvanoc commented on #585
On my Arch system getting the latest `vndr` hasn't changed anything. I've only changed `vendor.conf` like this
[code]
and
[code]
at the end of the file.

Just in order to reduce the differences with your probable setup I've tested on a Fedora container (a rootless one started with `podman`! :wink:) with the same result.

I'm getting the same error even when going back to the HEAD of current master

[2019-01-09 09:04] rockmenjack opened #587 "master failed to build in container due to golang version is 1.8"
[code]
math/bits was introduced since go 1.9

[2019-01-09 10:03] vrothberg commented on #585
I cannot think of anything else than a dirty git branch or a buggy `vndr`. Did you try it with the latest `vndr`?

[2019-01-09 11:45] Silvanoc commented on #585
@vrothberg Let me document a setup that should let you reproducing the issue with Docker/Podman. It should ensure that we are both running on the same clean environment.

Create a Dockerfile with following content:
[code]

Build the corresponding image:
[code]

And run following container on the resulting image:
[code]

[2019-01-09 11:58] vrothberg commented on #585
@Silvanoc indeed it helped :) It's import that your source directory is located in `$GOPATH/src/github.com/containers/skopeo` as described in the README. But I must admit that it's surprising that `vndr` ends up with those warnings.

If that works, feel free to close the issue.

[2019-01-09 12:17] Silvanoc commented on #585
@vrothberg it worked! Thank you for your help!

I had already noticed that [a section of the README](https://github.com/containers/skopeo#building-without-a-container) specifies the need for having the source directory in `$GOPATH/src/github.com/containers/skopeo` for *building*. But I wasn't expecting `vndr` to require it too, since I expected it to kind of only "grep" the source code.

[2019-01-09 12:17] #585 closed

[2019-01-10 09:08] cjeanner opened #588 "Support no_proxy env var"
Hello,

Apparently, while the support for http(s)_proxy have been added (see #178), it seems the no_proxy env var isn't taken.

A small test showed me that:
in an env, I have set http_proxy, https_proxy and no_proxy - when skopeo is called, it apparently hits the proxy:
[code]
And we can see in the proxy logs:
[code]

Notes: I've added env var in both caps and standard as I suspected it might play

[2019-01-10 13:23] rhatdan commented on #588
@vrothberg @runcom @mtrmac Are these flags in containers/image or just skopeo?  Should podman, buildah and CRI-O respect them?

[2019-01-10 13:39] vrothberg commented on #588
I don't know and I don't see references on any of those variables in the code.

I think that all tools should have the very same behaviour when it comes to pulling images.

[2019-01-10 14:18] rhatdan commented on #588
I agree.

[2019-01-10 14:19] cjeanner commented on #588
:+1: on having a common behaviour :).
Thank you for your quick feedback!

[2019-01-11 00:19] mtrmac commented on #588
The code is, via `c/image/pkg/tlsclientconfig`, ultimately using standard Go https://golang.org/pkg/net/http/#ProxyFromEnvironment , which is already supposed to support `no_proxy`.

With 10.10.0.136 just hanging for me,
[code]
hangs as expected, and
[code]
works as expected.

I can’t trivially reproduce your exact setup to test your exact inputs, but, adding some extra tracing, this does seem to

[2019-01-12 01:02] RyanOakes opened #589 "Signature verification fails with: Storing signatures for docker tar files is not supported"
I am hitting an issue where, when attempting to use skopeo to pull a signed image from Dockerhub and verify its signature, I'm getting ```Can not copy signatures: Storing signatures for docker tar files is not supported``` error.

I'm following [this](https://medium.com/cri-o/secure-your-kubernetes-production-cluster-7ec607749583) this guide on securing a Kubernetes production cluster.

(1) I'm cr

[2019-01-12 12:15] rhatdan commented on #589
@mtrmac PTAL

[2019-01-14 04:16] mtrmac commented on #588
FWIW that package was built using `go-toolset-7-golang-bin-1.10.2-4.el7`, which would indeed be before support for CIDRs, and for ports in `no_proxy` (though AFAICS ports could be included in the string but would be ignored and the addresses would match regardless of ports, which should be fine).

[2019-01-14 05:11] tzickel opened #590 "Support stdin pipe for docker tarball"
I have a use case where I am being sent on the fly a tarball which I want to add to a docker registry without saving it on disk.

Also not sure if it's supported, but if I have a tarball with multiple images, can I tell skopeo which of them I want to use ? something like tarball:a.tar:redis:latest or so ?

[2019-01-14 06:39] mtrmac commented on #590
Thanks for your report.

Most of the infrastructure for this is implemented (`c/image/docker/tarfile.NewSourceFromStream`), so this should be fairly easy to wire up.

Though, really, I’d quite strongly recommend checking whether it would be possible to not use the docker-archive format for streaming images; it has no support deduplication/avoiding unnecessary transfers, and the implementation / ho

[2019-01-14 07:22] tzickel commented on #590
If it will always do a temp file, I guess it's better that I manage it (and then I can also rip off what I don't need from it). It's basically some validation / extraction pipeline (and gateway to the docker registry) for docker images saved by docker save

[2019-01-14 13:18] RyanOakes commented on #589
@mtrmac I appreciate the detailed response; I'll explore some of these other signing options you mentioned. Thanks again.

[2019-01-14 14:36] rhatdan commented on #588
Seems like a reason to requiest golang 1.11 be added to the RHEL7 build root.

[2019-01-15 06:51] lsm5 opened #591 "snap package build error"
I'm trying to build a snap package for skopeo, and it's build process tries to do this:

    go get -t -d ./github.com/containers/skopeo/...
    Building skopeo
    # github.com/containers/skopeo/integration
    runtime.main_main·f: relocation target main.main not defined
    runtime.main_main·f: undefined: "main.main"
    go build -o /build/parts/skopeo/go/bin/skopeo github.com/containers/skopeo/

[2019-01-15 06:52] lsm5 commented on #591
@runcom @mtrmac @rhatdan ^

[2019-01-15 06:53] lsm5 commented on #591
btw, I'm using the containerized procedure mentioned at https://docs.snapcraft.io/build-on-docker/4158 but with go-1.10 from the gophers ppa instead of the default go-1.6 if that matters.

[2019-01-15 14:17] lsm5 commented on #591
no worries on this, I'm working on using custom build steps instead of the default Go snap plugin steps. Will report back..

[2019-01-15 14:17] #591 closed

[2019-01-15 14:40] mtrmac commented on #589
Thanks; closing, then, but feel free to reopen if anything else comes up.

[2019-01-15 14:40] #589 closed

[2019-01-17 13:44] seandilda opened #594 "Release official builds (Linux)"
Can this project add official builds (against linux) to its release page?  I was thinking something like OKD does  (https://github.com/openshift/origin/releases).  This would make it a lot easier to pull skopeo into a build container.

(I filed this in addition to #330 since #330 is focused on macOS binaries and I'm looking for linux builds here).

[2019-01-17 15:15] #583 closed

[2019-01-31 11:25] baracoder opened #597 "Reduce output on copy"
I have started to use skopeo 0.1.34 in gitlab CI to copy an image to a docker registry.
This works great, but there is one inconvinience: The logs get really long due to the progress updates getting added as new lines.
I did not find an option to reduce output. Having such option would be great.

[2019-01-31 11:44] baracoder commented on #597
Thank you @vrothberg, this sounds great. I am looking forward to the next release.
For reference: https://github.com/containers/image/pull/558

[2019-01-31 11:44] #597 closed

[2019-02-06 16:34] cyphar commented on #594
I have written a `release.sh` that is mostly project-independent and is used for `runc` and `umoci` (as well as a handful of other projects). It gives you signed artifacts (including the source tree and binaries).

[2019-02-08 20:04] pcnreddy opened #601 "skopeo containers build failing at hack/common.sh:223"
hack/build-go.sh
++ Building go targets for linux/amd64: cmd/openshift cmd/oc pkg/sdn/plugin/sdn-cni-plugin vendor/github.com/containernetworking/cni/plugins/ipam/host-local vendor/github.com/containernetworking/cni/plugins/main/loopback
/usr/lib/golang/pkg/tool/linux_amd64/link: signal: killed
[ERROR] PID 91: hack/common.sh:223: `GOOS=${platform%/*} GOARCH=${platform##*/} go install -pkgdir "${OS

[2019-02-08 20:19] mtrmac commented on #601
Thanks for your report.

can you check your kernel log for possible reasons why it was killed? It’s possible that the container, or your system, has run out of memory.

(All of this happens while running the test suite, so you should have a working Skopeo binary already.)

[2019-02-08 21:28] pcnreddy commented on #601
Thanks for looking into this and the quick response.

Yes, I am running docker on mac. The default Mem was 2GB. I increased to 6GB. Now the container build for skopeo passes.

With the failure, the container image was not built. Now I see the container image.

Thanks very much.

[2019-02-08 21:29] #601 closed

[2019-02-12 11:41] NicolasT commented on #580
FWIW, `make` (Docker-based build) *is* broken right now. In what's below, the build image is built 'from cache', but this 'cache' was seeded only a couple of minutes ago (on first `make` invocation):

[code]

[2019-02-19 11:17] NicolasT commented on #469
Running into a similar issue:

[code]

So, all tooling agrees `$IMAGE` has digest `sha256:870474507964d8e7d8c3b53bcfa738e3356d2747a42adad26d0d81ef4479eb1b`, right?

[code]

Ugh, what happened?

[code]
Looks like there's agreement the digest of the exported image is indeed `sha256:3ec6f2e82a4142d71f6def7f3349c80688b32c7ebcdcdd03934f054044b8e5b2`, which is not the source digest :confused:

Oddly eno

[2019-02-19 23:22] mtrmac commented on #469
Before dealing with the intricacies of the implementations, what are you ultimately trying to do?

---

`$IMAGE` _on the registry_ has that digest.  `docker pull` reads the manifest with that digest, but _does not store it locally_ at all. The manifest is not recoverable from the local storage (i.e. without reading from the remote registry again). Also…

`docker save` uses a quite different image

[2019-02-20 02:42] miabbott commented on #547
I'm trying to do a `skopeo inspect` on my rootless storage (using the format discussed in this thread), but failing like this:

[code]

But `podman inspect` works well:

[code]

I'd be great if `skopeo` could also support the rootless container storage.

[2019-02-20 10:52] vrothberg commented on #547
I somehow agree and ran into it myself a few times. But I understand @mtrmac'c concerns from https://github.com/containers/skopeo/issues/547#issuecomment-420038582 as well.

Ultimately, I think that Skopeo should support this use-case, at least to be part of the rootless-containers story of github.com/containers. The tools have a certain overlap as they share functionality (e.g., building, running

[2019-02-20 16:50] rhatdan commented on #547
Yes I think we should support the rootless use case.  Rootless is getting a lot of traction.  Skopeo should  be able to play in this environment.  Without having to hard code paths by users

[2019-02-21 08:20] frittentheke commented on #588
@cjeanner thanks for opening this issue. I was about to open a similar issue to allow using a proxy for only "one leg" of the communication when doing _skopeo copy_ between two registries.

But I suppose when NO_PROXY is available one can simply place the registry to be accessed without proxy to that list and achieve just that ?

[2019-02-22 06:10] cjeanner commented on #588
@frittentheke hey, yep, just put the registry in the NO_PROXY, as a simple IP/hostname (no CIDR), and Voilà.

Please beware of the variable value length limitation (something like 256 chars or around that number) in case you want to push multiple values.

BTW, @rhatdan @mtrmac guess we might close that one, since the issue is more related to rhel7/8 golang version than skopeo itself.

[2019-02-22 11:11] #588 closed

[2019-02-23 03:09] mtrmac commented on #547
Yeah, with rootless use of `podman` increasingly frequent, I agree support for `skopeo` interacting with the same storage is becoming too useful not to do it.

I do hope we can encapsulate that cleanly, the 88 `GetRootless*`/`IsRootless` references in libpod’s repo look a little scary at a first glance.

[2019-02-25 10:47] vrothberg commented on #547
@giuseppe, could you help us with that? Just to be sure we don't miss anything important.

[2019-02-25 11:50] giuseppe commented on #547
@vrothberg absolutely!

I think we should just use Podman `pkg/rootless` to setup the user namespace.  The logic here is simpler as it needs only to access the storage, so we'll need the create the namespace in any case (`rootless.BecomeRootInUserNS()`).  When running in rootless user the storage must default to `~/local/share/containers/storage` instead of `/var/lib/containers/storage`, and `stor

[2019-02-25 15:14] rhatdan commented on #547
Should we move pkg/rootless into containers/image or containers/storage.

I would prefer to move this to a lower library rather then cross polinating it to other packages.  I want to stop vendoring libpod into buildah and do not want to make the same mistakes with skopeo.

[2019-02-25 17:40] vrothberg commented on #547
I think the rootless package is currently a bit libpod specific (also in regards to the environment variables) and would not expect this functionality in image or storage. So I find libpod to be the best host of all three but I do understand the point.

I think that's okay as long as the packages that are actually imported don't entail too many things. Looking at the `rootless` package we might dr

[2019-02-25 17:45] vrothberg commented on #547
I just read https://github.com/containers/libpod/issues/2325#issuecomment-467041118 after dropping the last comment here, which made me change my mind. In this context, I prefer containers/storage.

[2019-03-04 22:44] vugardzhamalov opened #610 "Images pushed to GCR can't be pulled by docker"
Hi there,

It seems that I can push my image to private google container registry just fine... but Docker can't pull it afterwards... Am I doing something wrong or is this something expected?

I am pushing it like so:
skopeo --insecure-policy copy containers-storage:<image_id> docker://gcr.io/<project_id>/<image_name>:<image_tag>

Here is example of docker pull with error message:
docker pull gcr.

[2019-03-05 23:36] mtrmac commented on #610
Thanks for your report. This is not a known failure.

Does `skopeo --insecure-policy copy docker://gcr.io/<project_id>/<image_name>:<image_tag> dir:$someTempDir` work?

Wildly guessing, after pushing with `… copy --format=v2s2 …`, is the image visible to Docker?

Also, maybe the full output of `skopeo --insecure-policy --debug copy containers-storage:<image_id> docker://gcr.io/<project_id>/<image_

[2019-03-08 21:51] lsm5 opened #613 "registries.conf in contrib?"
I need to include the registries.conf file in rpm dist-gits and ubuntu forks. Worth putting in contrib? I can send a PR.

@mtrmac @rhatdan @vrothberg

[2019-03-09 14:33] rhatdan commented on #613
SGTM

[2019-03-09 14:55] vrothberg commented on #613
Is it possible to use the one from containers/image? The manpages are located there as well, so I am afraid of divergence. But if it helps packaging for Ubuntu, it SGTM.

[2019-03-10 14:33] vugardzhamalov commented on #610
Thank you @mtrmac,

I think I've managed to localize the issue - it is primarily between the keyboard and the chair on this side of the screen :-)

I was copying my local Buildah registry images to remote (GCR) registry (docker only?) ... It seems that I've missed important step - there is a need to export my local Buildah images to my local Docker image registry(?) beforehand... Hence the use of

[2019-03-10 14:44] vugardzhamalov commented on #610
And I suspect that following [statement](https://cloud.google.com/kubernetes-engine/docs/tutorials/hello-app#step_1_build_the_container_image) answers my question:

Still will be interesting to know if someone figured out how to create GKE deployment based on Buildah images as opposed to Docker.

[2019-03-10 14:49] vugardzhamalov commented on #610
OK I suspect that [CBI](https://github.com/containerbuilding/cbi) could be a potential answer to my question. Closing!

[2019-03-10 14:49] #610 closed

[2019-03-11 14:09] lsm5 commented on #613
@vrothberg is it possible to vendor a commit of @containers/image with that file into skopeo?

[2019-03-11 16:40] vrothberg commented on #613
https://github.com/containers/skopeo/pull/615 is adding it by avoiding `vndr` from removing it. It will now reside under `vendor/github.com/containers/image/registries.conf`.

[2019-03-12 17:06] mtrmac commented on #610
I don’t think so…

(`docker-daemon:` means the local, Docker-the-daemon-managed, storage (which contains exploded filesystems); that’s different from `docker://`, which accesses a Docker registry (which contains compressed tarballs). Obviously we don’t want to _require_ a Docker daemon in order for Buildah to work.)

The intermediate step really should not be required; I suspect it’s actually the

[2019-03-13 00:03] devurandom commented on #547
Reading the comments, I'm a bit confused: Does skopeo pick up user images already or not? What is required from me to make it work? (My build of v0.1.34 appears try to `mkdir /var/run/containers` as a regular user.) Is someone working on implementing it? (It seems like that from the discussion.)

It seems that buildah picks up images from both `/var/lib/containers` and `~/.local/share/containers`

[2019-03-13 12:06] rhatdan commented on #547
Well we are trying to fix this now by updating containers/storage with the information.

https://github.com/containers/storage/pull/295

Once we have something like that in containers/storage it will be easy to vendor it into skopeo and fix skopeo to do this automatically.

[2019-03-13 19:55] denispar opened #617 "Link to policy format doesn't work anymore"

[2019-03-13 21:33] rhatdan commented on #617
Please explain further?

[2019-03-18 14:07] vugardzhamalov commented on #610
Thank you @mtrmac,

Interesting... I'll give this another go in a day or two. You'll hear from me as soon as I know more.

[2019-03-21 08:24] akram commented on #459
The answer 👍
skopeo copy --dest-tls-verify=false docker-daemon:docker.io/busybox:latest docker://localhost:5000/skopeo/busybox

works great, maybe you can close the issue

[2019-03-21 09:30] #459 closed

[2019-03-21 22:51] vugardzhamalov commented on #610
Hi @mtrmac,

I think my new findings still confirm that this is pretty much a user error rather then anything else really...
For the sake of completeness here is my minimal script example that I build the image with, the only interesting thing about it - 'buildah commit' declaration with '--format' switch:

`#!/usr/bin/env bash
set -o errexit

# DECLARE CONTAINER VARIABLE
container01=$(buildah fro

[2019-03-22 13:42] vugardzhamalov commented on #610
Hi @mtrmac,

Well it seems that I have to take some of my earlier statements back. I've just discovered that even if 'buildah commit' was issued with '--format docker' switch one still needs to use '--format=v2s2' switch with 'skopy copy'. Unless '--format=v2s2' switch was explicitly declared any attempt to Deploy container from the image stored on GCR will fail... I don't know if this is expected

[2019-03-24 16:13] jamescassell commented on #588
no_proxy has historically not supported CIDRs.  The workaround I've used is to effectively add all raw IPs to the no_proxy by setting `no_proxy=0,1,2,{...},254,255` -- I've never had a reason to have a raw IP go thru the proxy; they were always local accesses.

[2019-03-25 02:30] zzxwill opened #621 "recipe for target 'binary-local' failed"
[code]

[code]

[2019-03-25 10:04] chengyli commented on #587
why not merging this commit?
https://github.com/containers/skopeo/pull/575/commits/85d26de620ea42779c418c0bc43be82ede284e47

[2019-03-25 10:07] vrothberg commented on #587
Thanks for the ping. Once #575 is rebased, we can merge it.

[2019-03-28 15:08] malins commented on #621
Same for me, also with latest release (v0.1.35).

[2019-03-28 20:23] duritong opened #623 "Support copying non-root images"
I'd like to copy images using skopeo built with non-root buildah/podman.

At the moment skopeo only sees images in the global/root image store, though I would like to use skopeo to push my builds as it detects already present layers.

My workaround at the moment is to save an image with podman and the push from the tar.

[2019-03-29 12:10] rhatdan commented on #623
Yes this is a planned on feature.  Skopeo now can understand the location of non root configuration, but still needs to enter the User Namespace of the user in order to create files owned by different UIDs like podman and Buildah can.

[2019-03-29 12:11] rhatdan commented on #623
@giuseppe PTAL

[2019-03-29 13:02] giuseppe commented on #623
so we miss the following features:

1. containers/storage automatically detects when we are in rootless use once we are into the user namespace.  Opened a PR for it:  https://github.com/containers/storage/pull/312
2. adapt containers/image to use the new API call.
3. add code to skopeo to create the namespace

After the first two steps, skopeo already works from a buildah unshare session.  I am no

[2019-03-29 15:56] giuseppe commented on #623
for the third step: https://github.com/containers/storage/pull/313

So now we can easily get rootless support in Skopeo:

https://github.com/containers/skopeo/pull/624

@duritong could you try that version of Skopeo and see if it works for you?

[2019-04-09 16:03] #613 closed

[2019-04-11 19:06] #623 closed

[2019-04-12 09:23] giuseppe commented on #590
you can use `/dev/stdin` to read from a pipe.  For example:

[code]

[2019-04-12 11:31] giuseppe commented on #549
this has been already solved upstream

[2019-04-12 11:31] #549 closed

[2019-04-12 11:33] giuseppe commented on #590
@tzickel does the proposed solution work for you?

[2019-04-12 11:38] giuseppe commented on #532
@steveb are you still using these patches  Would it be worth to open a PR and discuss them for upstream inclusion?

[2019-04-12 11:44] giuseppe commented on #471
this has been fixed the ostree storage.  Also, now we create a user namespace for pulling so that it is possible to write for root in the namespace since it has CAP_DAC_OVERRIDE

[2019-04-12 11:44] #471 closed

[2019-04-12 13:35] rhatdan commented on #590
@giuseppe I think if we document this it would be good enough.

Does
cat /tmp/alpine.tag |  skopeo copy docker-archive:/dev/stdin containers-storage:foo
Work?

[2019-04-12 13:55] vrothberg commented on #590
I am about to start working on https://github.com/containers/image/issues/540 which will add a containers-transports (5) manpage. I will drop the info there.

[2019-04-12 13:57] rhatdan commented on #590
Nice.  Then podman, skopeo, buildah man pages can reference it.

[2019-04-12 14:27] vrothberg commented on #590
https://github.com/containers/image/pull/615

[2019-04-12 14:49] giuseppe commented on #590
I talked too quickly I am afraid.  It doesn't work from a pipe, taking a look..

[2019-04-12 15:11] giuseppe commented on #590
it seems that a seekable file is needed, as we read the tarball not sequentially.

[2019-04-12 19:12] reenberg commented on #587
Wow, terrible user experience out of the box, especially considering #594 and when you are not running fedora.

Building in a container doesn't seem to have worked since v0.1.32, from Nov 7 2018.
This Issue was opened Jan 9 and #575 is from Dec 16 2018 as well... Please fix this simple thing.

[2019-04-12 21:55] mtrmac commented on #532
The caching of compressed/uncompressed relationship mapping, and remote locations, has been implemented in https://github.com/containers/image/pull/536 ; in the original test case, the second push now completes immediately and the third one only copies the few differing layers.

[2019-04-12 21:55] #532 closed

[2019-04-15 17:20] denispar commented on #617
Fixed by 329e1cf61cec9a27fd69ceb48a4d084e7c759b98

[2019-04-15 17:20] #617 closed

[2019-04-17 01:05] cboylan opened #631 "Cannot pull from/push to docker registry using an escaped ipv6 address literal"
Running a command like:

[code]

We get:

[code]

Ideally we would be able to use properly escaped ipv6 address literals with a port specified and still have skopeo function.

Chances are this is related to https://github.com/docker/distribution/pull/2899 and its related bug as I'm guessing skopeo pulls in that set of regexes to validate the url. Unfortunately that means that while docker is broke

[2019-04-17 18:11] mtrmac commented on #631
Thanks for your report. Yes, containers/image uses the same syntax, and we’d prefer not to diverge; there are various corner cases / ambiguities (and, sadly, way too many manual parsers) already.

[2019-04-17 19:23] hendrikhalkow opened #633 "Introduce vendor-agnostic URI scheme for OCI distribution specification"
As a Skopeo user, I want to interact with registries that implement the [OCI distribution specification](https://github.com/opencontainers/distribution-spec/blob/master/spec.md).

At the moment, this is pretty much exactly the same as the docker:// scheme that is specified in the [Docker Registry HTTP API V2 protocol](https://github.com/docker/distribution/blob/5cb406d511b7b9163bff9b6439072e4892e5

[2019-04-17 20:59] mtrmac commented on #633
The code implements the docker/distribution protocol, or, more precisely, the protocol that is necessary to interoperate with docker/distribution servers (which is not exactly the documented protocol).  The OCI specification has not been even released at this point, nor it has been, to any extent, considered while developing the existing implementation. (See also https://github.com/containers/imag

[2019-04-17 20:59] #633 closed

[2019-04-18 08:39] developer-guy opened #634 "FATA[0002] no image found in manifest list for architecture amd64, OS darwin"
skopeo inspect docker://docker.io/fedora:rawhide --> i tried this command and an error which is name of issue got occurred.

[2019-04-18 08:52] vrothberg commented on #634
Hi @developer-guy , thanks for reaching out!

Are you executing skopeo on Mac OS? As Fedora only supports Linux, the error looks correct to me as multi-arch manifests will be selected based on the host's platform.

You can use the `--raw` flag to list the platform-specific manifests and use the digest notation to inspect the manifest you're looking for, e.g.:

[code]

[2019-04-18 08:52] #634 closed

[2019-04-18 09:31] developer-guy commented on #634
thank you for your quick response, it works @vrothberg  👍

[2019-04-18 20:50] mtrmac commented on #634
Maybe more practically, `skopeo --override-os linux …` will work with the Linux version of the image, without otherwise affecting the semantics; e.g. `skopeo --override-os linux copy …` copies the Linux image just like running `skopeo` on Linux would..

[2019-04-24 08:15] ananace opened #636 "Error when using fully-qualified hostname for https_proxy"
As tested here in a container running in our Kubernetes cluster that lacks direct internet access;

[code]

[2019-04-24 08:38] mtrmac commented on #636
Thanks for your report. FWIW, the code is using Go’s ordinary `net/http.ProxyFromEnvironment`, so I would expect the code to behave just like any other Go HTTP client.

[2019-04-24 10:30] ananace opened #637 "Unable to use Skopeo in a non-privileged container after #624"
[code]

[2019-04-24 10:32] vrothberg commented on #637
@giuseppe PTAL

[2019-04-24 11:24] giuseppe commented on #637
`unshare` might be blocked by seccomp.  Could you try with --security-opt seccomp=unconfined?

[2019-04-24 11:32] ananace commented on #637
Setting seccomp=undefined indeed seems to work as well.
Though it's not something that helps overly much in the case of our CI/CD pipelines, as there's - by design - no way to request modified permissions there.

[2019-04-24 11:49] giuseppe commented on #637
@ananace could you check if this PR fixes the issue for you https://github.com/containers/skopeo/pull/638 ?

[2019-04-24 11:57] ananace commented on #637
@giuseppe Seems to solve the issue, yes.

[2019-04-24 12:27] #637 closed

[2019-04-25 10:24] #621 closed

[2019-04-25 10:37] rhatdan commented on #82
@mtrmac @vrothberg Since this bugzilla was closed a while ago, can we close this issue?

[2019-04-25 10:39] rhatdan commented on #47
@mtrmac @vrothberg What is the state of this?  Should we ask QE For help?

[2019-04-25 10:40] rhatdan commented on #63
@TomSweeneyRedHat Could you look into the readme, and make sure it is up2date.

[2019-04-25 10:41] rhatdan commented on #100
I am going to close this issue, since I don't think anyone is working on it, and signing is a black hole in the OCI.

[2019-04-25 10:41] #100 closed

[2019-04-25 10:41] rhatdan commented on #120
@runcom @mtrmac @vrothberg THree year old issue, almost.  Should we close this?

[2019-04-25 10:43] rhatdan commented on #384
This is an old issue, and I believe has been fixed long ago. CLosing.

[2019-04-25 10:43] #384 closed

[2019-04-25 10:43] rhatdan commented on #396
Skopeo output has been improved.

[2019-04-25 10:43] #396 closed

[2019-04-25 10:44] rhatdan commented on #386
@dmlemos @mtrmac @vrothberg Isn't this working in the latest skopeo?  Can I close this issue?

[2019-04-25 10:45] rhatdan commented on #373
I believe this is fixed and we no longer want to support atomic, so I am closing.  Please reopen if this is not correct.

[2019-04-25 10:45] #373 closed

[2019-04-25 10:46] rhatdan commented on #361
@mhrivnak @mtrmac @vrothberg I think we are all set on this, so I am closing.  Reopen if I am mistaken.

[2019-04-25 10:46] #361 closed

[2019-04-25 10:47] rhatdan commented on #364
@mtrmac @vrothberg Is this something we should pursue?  Should we look at interns working on this?  Do you think it is important?

[2019-04-25 10:48] rhatdan commented on #359
I believe this is fixed in skopeo.  Closing, Reopen if I am mistaken.

[2019-04-25 10:48] #359 closed

[2019-04-25 10:50] rhatdan commented on #342
@jwendell @runcom @mtrmac @vrothberg Is this still something of interest or is what podman does enough to satisfy the need?

[2019-04-25 10:51] rhatdan commented on #330
@mtrmac @vrothberg Is this something we want? Should we put an intern on it?

[2019-04-25 10:52] rhatdan commented on #311
@erikh Is this still something you are interested in?  Does it work within Podman?

[2019-04-25 10:53] rhatdan commented on #304
I think this is fixed, closing.  Reopen if I am mistaken.

[2019-04-25 10:53] #304 closed

[2019-04-25 10:53] rhatdan commented on #303
@mtrmac @aweiteka @vrothberg Can we close this?  Is this issue fixed?

[2019-04-25 10:54] rhatdan commented on #281
I believe this is fixed, so closing, reopen if I am mistaken.

[2019-04-25 10:54] #281 closed

[2019-04-25 10:55] rhatdan commented on #276
@runcom @plumcraft @mtrmac @vrothberg What is the latest on this issue?  Is this still something we are interested in?

[2019-04-25 10:56] rhatdan commented on #247
@runcom @aweiteka @mtrmac @vrothberg What ever happened with this?  Is this still something we are interested in or can we close?

[2019-04-25 10:57] rhatdan commented on #240
@dohnto @mtrmac @jonboulle @vrothberg Does this issue still exists or can we close this issue?

[2019-04-25 10:57] rhatdan commented on #225
We deliver man pages now.

[2019-04-25 10:58] rhatdan commented on #227
I believe this is fixed.

[2019-04-25 10:58] #227 closed

[2019-04-25 10:58] rhatdan commented on #186
@luebken @mtrmac @vrothberg Is this still an issue?  Can we close this?

[2019-04-25 10:59] rhatdan commented on #184
I believe this is fixed, closing.  Reopen if I am mistaken.

[2019-04-25 10:59] #184 closed

[2019-04-25 10:59] rhatdan commented on #108
Not going to happen.

[2019-04-25 10:59] #108 closed

[2019-04-25 11:00] rhatdan commented on #110
@runcom @mtrmac @vrothberg Is this still something we want?

[2019-04-25 11:47] rhatdan commented on #545
@mtrmac @vrothberg Is this something we should add? Something an intern could work on?

[2019-04-25 11:48] rhatdan commented on #544
This should have been closed a long time ago.

[2019-04-25 11:48] #544 closed

[2019-04-25 11:49] rhatdan commented on #389
I think we have support for this now.  Reopen if I am incorrect.

[2019-04-25 11:49] #389 closed

[2019-04-25 11:49] rhatdan commented on #530
Looks like this is fixed.

[2019-04-25 11:49] #530 closed

[2019-04-25 11:50] rhatdan commented on #527
@mtrmac @vrothberg, Is this something valuable to work on?  Should we look to an intern to do it?

[2019-04-25 11:52] rhatdan commented on #517
@mtrmac @vrothberg Should we assign this to an intern?

[2019-04-25 11:52] rhatdan commented on #508
@thomasmckay Are you still interested in this?  Or is podman search good enough?

[2019-04-25 11:53] rhatdan commented on #484
@pquq12 @mtrmac @vrothberg What is the state of this issue? Is this still something we want?

[2019-04-25 11:54] mtrmac commented on #527
“I do think there is some value in implementing that”, but I expect an intern could work on something more impactful. _Maybe_ as a first issue to familiarize with GitHub + Go + the CLI framework.

[2019-04-25 11:54] rhatdan commented on #496
Since the PR for this issue has been merged, I will close the issue, reopen if I am mistaken.

[2019-04-25 11:54] #496 closed

[2019-04-25 11:55] rhatdan commented on #488
@olbohlen If you are interested in working on this please reopen the issue.

[2019-04-25 11:55] #488 closed

[2019-04-25 11:57] rhatdan commented on #492
@taqtiqa-mark @mtrmac @vrothberg Is this still and issue?  Can we close it?

[2019-04-25 11:57] #478 closed

[2019-04-25 11:58] #473 closed

[2019-04-25 11:58] thomasmckay commented on #508
@rhatdan `podman search` is fine with me; closing. Thanks!

[2019-04-25 11:58] #508 closed

[2019-04-25 11:59] rhatdan commented on #463
@TomSweeneyRedHat Reminder, Did you ever write the blog?

[2019-04-25 11:59] rhatdan commented on #455
@cyphar @mtrmac @vrothberg Is this still an issue?

[2019-04-25 12:00] rhatdan commented on #434
@cyphar @mtrmac @vrothberg Is this still an issue?  Is this something we want to work on?

[2019-04-25 12:01] rhatdan commented on #432
@TomSweeneyRedHat Now that we have buildah in a container could you look into packageing up skopeo in quay as well?

[2019-04-25 12:03] rhatdan commented on #421
@juanluisvaladas @mtrmac @vrothberg Is this still an issue?  Are we still waiting for --no-creds?

[2019-04-25 12:04] rhatdan commented on #419
Since this was merged a while ago, I assume this issue is fixed.

[2019-04-25 12:04] #419 closed

[2019-04-25 12:05] rhatdan commented on #402
I think we have much better pulling/pushing semantics, Closing, reopen if this is still an issue.

[2019-04-25 12:05] #402 closed

[2019-04-25 12:06] rhatdan commented on #393
@akostadinov @mtrmac @vrothberg @TomSweeneyRedHat Does anyone know if the documentation was ever improved for this issue?

[2019-04-25 12:06] mtrmac commented on #484
@rhatdan Did you at least try the steps to reproduce?

---

(For the record, this nowaways needs to be properly tested with `docker://registry.access.redhat.com/openshift3/ose-recycler:v3.7.14`, current `v3.7` is no longer a schema1 image.)

The metadata cache mentioned in https://github.com/containers/skopeo/issues/484#issuecomment-376573381 as the proper fix was implemented in https://github.com

[2019-04-25 12:06] #484 closed

[2019-04-25 12:07] rhatdan commented on #395
I believe this is fixed in the current skopeo.  Reopen if I am mistaken

[2019-04-25 12:07] #395 closed

[2019-04-25 12:07] rhatdan commented on #369
@owtaylor @mtrmac @vbatts @vrothberg Is this fixed now?  Can we close this issue?

[2019-04-25 12:08] #287 closed

[2019-04-25 12:09] rhatdan commented on #174
No one has converted this to a Fedora image.  I will assign to a Intern.

[2019-04-25 12:10] vrothberg commented on #455
Already fixed, closing.

[2019-04-25 12:10] #455 closed

[2019-04-25 12:11] rhatdan commented on #636
Does this mean golang has a bug or that @ananace is mistaken in his assumptions.

[2019-04-25 12:14] mtrmac commented on #369
I don’t really think of annotations in the (manifest) “index” as part of the image (which has the manifest as the top-level object).  Unless the OCI registry standard deviates from docker/distribution enough to support this extra metadata (@vbatts ?), I don’t see how we could preserve them.

[2019-04-25 12:15] mtrmac commented on #636
No idea.

[2019-04-25 12:17] rhatdan commented on #587
@reenberg PRs welcome.

[2019-04-25 12:18] rhatdan commented on #587
Since the PR is merged, I will close the issue.

[2019-04-25 12:18] #587 closed

[2019-04-25 12:18] rhatdan commented on #590
@mtrmac @giuseppe @vrothberg If this is impossible, should I close?

[2019-04-25 12:19] rhatdan commented on #469
@thomasmckay Could you answer @mtrmac Questions, or should I close this issue?

[2019-04-25 12:21] ananace commented on #636
It's probably worth mentioning that libcurl handles fully qualified proxy hostnames perfectly fine, and so we've been favouring fully qualified names for our proxy variables, due to some other DNS specificities in our environment.
I am unsure if we're using any other go software that requires direct internet connectivity, but if you have a good suggestion of something to try, I'm more than happy t

[2019-04-25 12:21] rhatdan commented on #580
I think the Docker/Podman build is fixed now.  I am going to have an intern tackle fixing this.

[2019-04-25 12:21] rhatdan commented on #594
@TomSweeneyRedHat Could you look at this, at least have official containers with skopeo in them.

[2019-04-25 12:22] rhatdan commented on #578
@mtrmac @vrothberg Any movement on this?

[2019-04-25 12:23] rhatdan commented on #363
Skopeo now supports containers storage.  So closing.

[2019-04-25 12:23] #363 closed

[2019-04-25 12:23] rhatdan commented on #391
Might have an intern look at this.

[2019-04-25 12:25] mtrmac commented on #578
@rhatdan did you see any integration test changes that could be related?

[2019-04-25 12:25] rhatdan commented on #563
@MansM Is this still something you are interested in?  Could you help out with a PR?  This is not something a bunch of Linux programmers are likely to fix, so we need help from someone with Mac Experience.

[2019-04-25 12:26] rhatdan commented on #560
@alonbl @mtrmac @vrothberg Is this still an issue?  Is it something we are going to work on?

[2019-04-25 12:26] rhatdan commented on #214
I believe we have support for this now.  @vrothberg reopen if I am incorrect.

[2019-04-25 12:26] #214 closed

[2019-04-25 12:28] rhatdan commented on #533
@duglin @greglanthier @mtrmac Has any work ever gone forward on this?  Is this something we want?

[2019-04-25 12:28] rhatdan commented on #548
@mtrmac @vrothberg Is this something we are going to fix?

[2019-04-25 12:29] vrothberg commented on #386
I am not using a Mac but others did not report that recently, so I think we're safe to close.

[2019-04-25 12:29] #386 closed

[2019-04-25 12:30] rhatdan commented on #107
Still open issue, though no one is working on it right now, have to gauge priority.

[2019-04-25 12:30] vrothberg commented on #82
I'll take the shot and close.

[2019-04-25 12:32] rhatdan commented on #636
@vbatts Any ideas?

[2019-04-25 12:32] rhatdan commented on #578
Nope.

[2019-04-25 12:35] mtrmac commented on #560
As explained above, I don’t think there should be an easily-accessible `null` transport, and the improvements to policy.conf should probably be tracked separately.

[2019-04-25 12:35] #560 closed

[2019-04-25 12:35] rhatdan commented on #484
Nope, I am just going through huge lists of issues and trying to get rid of the easily seen as fixed issue, and then figure out if people still want the issue.  No time to check and figure out if has been fixed when reviewing hundreds of PRS and issues.

[2019-04-25 12:36] alonbl commented on #560
Hi @rhatdan,

I will love to have an option to verify signatures based on policy, this will allow CI and people to test images state and the policy.json settings.

The other part of the discussion relate to the method of having offline (internet disconnected) proxy and how to manage that properly, which is unrelated to the initial request.

[2019-04-25 12:39] mtrmac commented on #636
@ananace I would expect skopeo and the following test program to behave the same:
[code]

(Run using `go run nameOfFileWithThoseContents`).

[2019-04-25 12:46] MansM commented on #563
I wish I could, but I lack the knowledge on MacOS internals and go code skills

if you want me to run some debug code and provide you with the output I am happily to do so, but for this I am too much a consumer

[2019-04-25 12:47] vrothberg commented on #364
I am taking a shot and close it in favor of the skopeo-sync PR https://github.com/containers/skopeo/pull/524.

[2019-04-25 12:47] #364 closed

[2019-04-25 12:57] mtrmac commented on #364
`skopeo sync` won’t use the catalog to list all repositories.

The existing `podman search` can be used for this, e.g. `podman search registry.fedoraproject.org/` (but that registry reasonably limits the number of results, so it is only marginally useful.)

Considering that a sane registry server rarely support returning the full catalog, and that none of this can deal with untagged images, yes, l

[2019-04-25 12:59] duglin commented on #533
I'm not aware of any work on this - but I also have had time to try with the latest skopeo to know if anything changed.  I can try in a bit when I get some free time if you think it might work now

[2019-04-25 13:42] jwendell commented on #342
I don't care anymore, feel free to close this :)

[2019-04-25 13:43] vrothberg commented on #492
I understand the motivation for the request but think that go is really hard to get started with in general. By default, the Makefile builds skopeo in a container which I hope reduces the burden from new users.

[2019-04-25 13:43] #492 closed

[2019-04-25 13:46] owtaylor commented on #369
Flatpak doesn't care any more about annotations on the index (if it ever
did.) But annotations on the manifest have to be preserved. I claimed that
wasn't the case in the initial description, but I think it's likely working
now since we do use skopeo for uploading Flatpaks from OSBS.

[2019-04-25 13:49] vrothberg commented on #421
I find this to be a useful extension. PR over here https://github.com/containers/skopeo/pull/433.

[2019-04-25 13:49] ananace commented on #636
@mtrmac

[code]

I'm going to check over the container build I've got of skopeo, in case it happens to be using an older version of go

[2019-04-25 13:51] mtrmac commented on #369
Conversions from OCI to schema2 do discard annotations AFAICS; so it probably works only if the registry can natively accept OCI manifests.

[2019-04-25 13:57] vrothberg commented on #434
We don't support env vars yet. However, I am not sure if supporting that would be any better than the CLI options that already exists as another user could still see the credentials via `/proc/$pid/environ`.

Given the age, I am tempted to close but I leave that up to @cyphar and @mtrmac :)

[2019-04-25 14:00] mtrmac commented on #492
Only if that container happens to exactly match your system (in which case there’s little benefit to the container); otherwise it creates a binary that is dynamically-linked and not even all that likely to work.

Version enforcement is traditionally done something like `autoconf`, or some other build system. We almost certainly don’t want that amount of complexity right now.

Adding an extra versi

[2019-04-25 14:02] mtrmac commented on #434
We do support `podman login --authfile …` and `skopeo copy --authfile …` now. @cyphar is that good enough for your purposes?

[2019-04-25 14:05] NicolasT commented on #469
@mtrmac I completely missed your reply, sorry. So, getting back to https://github.com/containers/skopeo/issues/469#issuecomment-465353019:

Indeed, as you guessed, the intent is to be able to retrieve -> store -> distribute -> ingest -> pull -> run images based on a static description of said image (i.e. some hash of it) in a repeatable way. I was using `docker save` because (at that point in time

[2019-04-25 14:06] mtrmac commented on #342
Thanks, closing.

(I would expect `podman pull`&`podman run` to be the convenient path for most users. Specialist uses of `runc` directly may emerge again, we can reopen then.)

[2019-04-25 14:08] vrothberg commented on #590
@giuseppe's proposal from https://github.com/containers/skopeo/issues/590#issuecomment-482504306 works and is now also documented in containers-tranports(5). I think we can close it.

[2019-04-25 14:28] owtaylor commented on #369
The manifest annotations issue was likely fixed by:
https://github.com/containers/image/pull/338

In general,  I think this can be closed... though if/when pushing and
pulling image indexes as image indexes is supported (#400) I would  expect
that the image indexes would be literally persevered, included annotations.
(We don't need that for Flatpak, but it would be potentially problematical
for ot

[2019-04-25 14:29] mtrmac commented on #469
No. But, you can “easily enough” run a docker/distribution registry server container with a volume mounted into the container’s storage directory, copy images to that registry, then shut down the container,  move the volume data elsewhere, and run a similar container elsewhere and pull from it.

(The docker/distribution protocol is pretty close to being able to be served using a plain HTTP server,

[2019-04-25 14:51] cyphar commented on #434
`--authfile` is sufficient. You should be able to use process substitution `<()` in order to avoid other users reading your authfile directly.

[2019-04-25 14:51] #434 closed

[2019-04-25 14:54] vrothberg commented on #545
I think this a good issue for interns, yes.

[2019-04-25 15:03] vrothberg commented on #517
Sounds good to me :+1:

[2019-04-25 15:10] mtrmac commented on #369
https://github.com/containers/skopeo/issues/400 seems to be something quite irrelevant.

https://github.com/containers/image/pull/400 OTOH, does involve somehow dealing with multi-arch OCI images, and that code does preserve the annotations I think. But that’s code, and functionality, that does not currently really exist, so keeping an issue filed against it does not quite make sense. So, closing.

[2019-04-25 15:10] #369 closed

[2019-04-25 15:20] mtrmac commented on #590
This is well possible, the very first comment points to `c/image/docker/tarfile.NewSourceFromStream`.

That does not work, see https://github.com/containers/skopeo/issues/590#issuecomment-482602839 .

---

Overall, while `docker-archive:`-based workflows are something I strongly recommend against, based on various issues/feature requests around here, enough people continue to build them, that we m

[2019-04-25 15:35] mtrmac commented on #533
FWIW all of the documentation links so far seem to point at the standard docker/distribution authentication protocol, which is implemented in c/image to be compatible with docker/distribution servers. The word `IdentityToken` does not appear in them at all.

If you want “IdentityToken”, please start by explaining what it is (and how you plan to use it). My best guess, looking at the Docker source

[2019-04-25 15:40] mtrmac commented on #82
That bug fix helps only on Fedora distributions, it still has not been merged upstream, so e.g. Mac users are still slowed down.

And while that does help a lot, we still potentially do a lot of redundant work (including spawning `gnupg*` subprocesses), so keeping state over the lifetime of the `PolicyContext` still should be done.

https://github.com/mtrmac/image/tree/signature-caching is a _very

[2019-04-25 15:48] mtrmac commented on #548
Hopefully.

[2019-04-25 15:50] TomSweeneyRedHat commented on #463
@rhatdan I did not and this completely slipped off my radar.  WIll get it back on the list.

[2019-04-25 15:52] TomSweeneyRedHat commented on #432
@rhatdan, I was thinking about Podman, but will add skopeo too.  I'll first swing by your office early next week to talk over some admin stuff about this with you.

[2019-04-25 15:56] TomSweeneyRedHat commented on #594
Related to #432

[2019-04-25 15:56] TomSweeneyRedHat commented on #432
Related to #594

[2019-04-25 15:56] mtrmac commented on #395
Not _quite_, we still do the existence check layer by layer, but with the blob info cache it might be good enough.

[2019-04-25 15:56] TomSweeneyRedHat commented on #594
@rhatdan ack, will do

[2019-04-25 15:59] TomSweeneyRedHat commented on #393
No doc changes for this that I"m aware of.

[2019-04-25 16:00] TomSweeneyRedHat commented on #63
@rhatdan ack

[2019-04-25 16:01] mtrmac commented on #393
I’m tempted to say that explaining the difference between compressed/uncompressed digests (and manifest/config/manifest list digests) does not quite belong in the primary man pages.  Ordinary users don’t need to care, and explaining this in man pages would only confuse them, and people building specialized tools should know about all of these things… from… well… somewhere… yeah.

So, this should b

[2019-04-25 16:08] mtrmac commented on #419
Well, ultimately this was talking about https://github.com/containers/image/issues/400 as the 100% fix, but we don’t quite need a skopeo pointer to it that also deals with the urgent situation at that time.

[2019-04-25 16:10] mtrmac commented on #473
That’s how it works in buildah, not in skopeo; anyway, the consensus seems to have been not to disable the escaping.

[2019-04-25 16:59] rhatdan commented on #393
Should we add a document to skopeo github to explain this then?

[2019-04-25 17:11] mtrmac commented on #110
@rhatdan Wasn’t there some kind of “additional stores” functionality added to c/storage?

Note that the original request for “shared storage” came from you, so do we want this? :)

[2019-04-25 17:15] mtrmac commented on #184
We don’t have any integration tests against an OCI-supporting registry AFAIK.

The way I read this issue, it was @mikebrow announcing what he plans to work on, though, so closing this seems reasonable. (And for the record, the support did land upstream in https://github.com/docker/distribution/pull/2076 thanks to @mikebrow ).

[2019-04-25 17:20] rhatdan commented on #110
Ok we will rely on additional stores for this.

[2019-04-25 17:20] #110 closed

[2019-04-26 09:34] ananace commented on #636
Well, I just built up a new Skopeo instance in the build container, and also built the test binary beside it.
Apparently the current master segfaults badly when given a fully-qualified proxy url.
[output.txt](https://github.com/containers/skopeo/files/3120653/output.txt)

[2019-04-26 09:39] akostadinov commented on #393
What will be confusing if there is a section in the man page about layers and digest? Especially becaues users may be exposed to the output from different tools about same images, such explanation will be valuable.

[2019-04-26 13:57] mtrmac commented on #393
I was basically thinking that either we put it in some appendix of one of the man pages (or to GitHub) where people who need this won’t notice, or we lead with the definitions in every affected subcommand, and all the people who don’t need to deal with this will have to read the document to realize they don’t need to deal with this.

But you’re right, adding a link to the `DESCRIPTION` section of

[2019-04-26 14:04] mtrmac commented on #636
Hum. Just guessing, is it possible that this is a statically-linked build, and the build container and the environment in which you are running the `skopeo` binary use different glibc versions, or differently-compiled glibc (e.g. different distributions)?

In general I would recommend building skopeo using `make binary-local`, and using the resulting binary in a binary-compatible environment.

[2019-04-26 14:10] mtrmac commented on #227
For the record, `skopeo` now reject such input with
[code]

[2019-04-26 14:10] ananace commented on #636
With the output log, it's running Skopeo just after building it, in the same container.
I'm going to have a check on the older commit that didn't segfault, maybe it'll have a different result. Though clearly Skopeo is doing *something* different, considering the minimal example works as intended.

Not sure if I'll have an update for you until after the weekend though

[2019-04-26 14:17] vbatts commented on #636
okay, let's see here.
I just stood up a squid container on one host, and tried `http_proxy=http://<redacted>:3128/ skopeo inspect docker://centos` from another host, it works fine (with and without the http_proxy= env).
[code]
Now let me try from master...

[2019-04-26 14:22] vbatts commented on #636
now with master:
[code]
(looks like i could update my compiler, but still)

the logs from the squid proxy show it pass through:
[code]

[2019-04-26 15:01] rhatdan commented on #393
@mtrmac If you write up the description, I will add open PRs for podman, buidlah and Skopeo.

[2019-04-26 15:36] debarshiray opened #641 "RFE: Make 'skopeo inspect' provide the size of the OCI image"
It would be nice if 'skopeo inspect' provided the size of the OCI image. It seems like useful information that one might want to have before pulling an image to avoid blowing the data cap or interfering with other network activity.

eg., it could be useful to implement https://github.com/containers/toolbox/issues/134, but it's a different question whether one wants to add a dependency on another 2

[2019-04-26 15:38] debarshiray opened #642 "Support Go templates in 'skopeo inspect'"
Go templates are easier to parse from shell scripts, than JSON. Would be nice if 'skopeo inspect' grew support for them.

[2019-04-26 15:58] TomSweeneyRedHat commented on #641
Thanks @debarshiray for the RFE.

[2019-04-29 01:59] epruesse opened #643 "Skopeo packaged for conda-forge"
Just FYI: I've packaged skopeo for conda-forge: See https://github.com/conda-forge/skopeo-feedstock

It's just the `DISABLE_CGO=1` variant, and no OSX or Windows builds for now.

I also could not get the `0.1.35` release to work, so I stuck to the `0.1.32`.

Build script: https://github.com/conda-forge/skopeo-feedstock/blob/master/recipe/build.sh
Recipe: https://github.com/conda-forge/skopeo-feeds

[2019-04-29 10:06] rhatdan commented on #643
Nice, Thanks.
Are you going to try to get it to work on OSX and Windows?
What issues were you having with 0.1.35?

How does this work?  Does Conda install on any distribution?  Are you building skopeo statically?

Any thoughts on buildah or podman?

[2019-04-29 14:03] TomSweeneyRedHat commented on #643
Once the dust settles, it would be nice to document this in the README.md or some other appropriate location.

[2019-04-29 14:39] NicolasT commented on #469
I considered that at some point, but it doesn't fit our needs for a couple of reasons, one of them it being not very 'composable'.

Well, thanks to your `dir` target hint, I was able to hack this together: https://github.com/NicolasT/static-container-registry

It basically allows you to
- `skopeo copy ...` a bunch of images
- Run the script
- `include` the result in an `nginx` configuration
- :mon

[2019-04-29 18:04] mtrmac commented on #186
`README.md` nowadays primarily recommends non-container builds (`make binary-local`), consistent with

and also mentions `make binary`, as suggested in https://github.com/containers/skopeo/issues/186#issuecomment-244391536 .

Considering the need to read config files, and that `atomic run` is has been deemphasized, I don’t think distributing a stand-alone container image is very practical (apart f

[2019-04-29 18:04] #186 closed

[2019-04-29 18:12] mtrmac commented on #225
`MANPAGES` in `Makefile` only includes `docs/*.md`; the man pages in `vendor/github.com/containers/image/docs` are included by `make vendor` but not installed.

[2019-04-29 18:19] mtrmac commented on #240
https://github.com/containers/image/pull/380 has implemented this, e.g.

[code]
now works.

[2019-04-29 18:19] #240 closed

[2019-04-29 18:27] mtrmac commented on #276
At the API level, there is now `c/image/docker.GetRepositoryTags`, which does not require an existing tag.

Adding this as a separate command to `skopeo`, and ideally deprecating the list of tags in `skopeo inspect` (but that would break users) is still worth considering.

[2019-04-29 18:35] mtrmac commented on #281
For the record, nothing has been improved for the originally-implied `docker-daemon:` destinations.  `containers-storage:` destinations + the blob info cache have several duplicate detection facilities, which should avoid repeated copies of the large blobs, overall a bit more expensive than the suggested `ImageDestination.AlreadyContainsManifest` in that particular case, but all local disk I/O, no

[2019-04-29 18:40] mtrmac commented on #303
Current skopeo does reject the input immediately, exactly as in the snippet above.

Making the `//` optional in `docker://` still seems worth considering. (Although I’m unsure whether we should drop it from the output, when formatting such references as text.)

[2019-04-29 18:58] mtrmac commented on #304
There are no longer any `master` references, but we have no record of which ones are frozen and which ones should be regularly updated.

With `go mod` looming, this will be revisited anyway.

[2019-04-29 19:01] mtrmac commented on #311
Nowadays we primarily advertise the non-container `make binary-local` which should have no issues with running inside a container.

If that is not sufficient clear steps to reproduce / expected results / actual results would still help with triaging.

[2019-04-29 19:04] #311 closed

[2019-04-29 19:11] mtrmac commented on #330
It might be useful for macOS (unlike Linux, where a single binary does not quite make sense due to NSS ABI issues, but tracked in #594 anyway); it would strongly be related to the tentative discussions about replace Travis CI with something else.

Meanwhile, there is a `skopeo` formula in `Homebrew`, which is the 99% solution; so, an extra official build in this repository seems quite low-priority

[2019-04-29 19:35] epruesse commented on #643
To be honest, creating the package was need driven. I had been looking for something that can upload a docker archive to a registry without needing access to the docker daemon, and was VERY happy to find this project!

If I have time to spare. You know how that goes. Don't bank on it. It shouldn't be too hard, though. PRs on the repo listed above are welcome from anyone. Basically, remove `osx` or

[2019-04-29 19:37] epruesse commented on #643
Sorry about the long post...

Well, PRs are welcome, the process is actually quite simple. I'd be happy to help, but I don't anticipate having much time in the near future to spend on this (work related).

[2019-04-29 19:41] mtrmac commented on #373
Nothing like this actually exists (apart from dubious `skopeo copy --sign-by `_keyID_` docker://`_location_` docker://`_location_`) — but
1. the `atomic:` transport is deprecated
2. such a workflow implies absolute trust in the registry, while the signatures basically exist to remove the need for such trust; images should primarily be signed when moving from a (necessarily) trusted environment (e.

[2019-04-29 19:50] epruesse commented on #643
Looks like my 0.1.35 issue might have been local:

Conda-Forge's update bot picked up that there is a newer release and it seems to build fine:
- 0.1.33 https://github.com/conda-forge/skopeo-feedstock/pull/2
- 0.1.35 https://github.com/conda-forge/skopeo-feedstock/pull/2

I'll merge them. Might need some better testing than just `skopeo --help`.

[2019-04-29 19:50] mtrmac commented on #120
We now do progress reporting, and it did not require an interface change to use `io.Writer`.

At least as far as skopeo cares, this is an internal implementation details that users don’t care about, and we can change the API as necessary any time, so tracking this in skopeo makes little sense nowadays.

(As far as c/image cares, changing the API would require a major version bump, and anyway if it

[2019-04-29 19:50] #120 closed

[2019-04-29 19:57] mtrmac commented on #47
I would hope that this gets addressed along with the conversation about using Travis CI in general, and maybe consolidating the CI designs across containers/*. Any help would of course be welcome.

(Really the biggest win for skopeo CI would be not building the OpenShift binary on every CI run.)

(I can’t remember any instance of CentOS-specific breakage since #45 , so this is not all that urgent.

[2019-05-03 00:55] epruesse commented on #643
OSX package done

[2019-05-03 05:23] debianmaster commented on #594
+1 for this

[2019-05-07 18:53] #421 closed

[2019-05-12 11:18] shoeper opened #648 "ubuntu:17.10 End of Life, build fails"
Build fails with "E: The Repository '[..] does not have a Release file" most likely because ubuntu:17.10 is at End of Life.

See https://wiki.ubuntu.com/Releases for Ubuntu releases.

[2019-05-13 14:20] #648 closed

[2019-05-15 11:15] gecube commented on #594
I'd like to have binary distribution too. I already faced with the problem that `make binary` uses `ubuntu:18.10` so resulting binary can't be run on OpenSUSE.
Also skopeo depends on `uidmap` package from Ubuntu. And it is not obvious from documentation. If `uidmap` is not installed, I get the next error message:
[code]

[2019-05-15 14:24] TristanCacqueray opened #649 "Skopeo now requires capabilities when executed as regular user"
It uses to work fine in bubblewrap to copy image between registry but it no longer do:

[code]

Shouldn't the tool checks if the capabilities are really needed before requiring them (e.g. when doing remote copies)?

[2019-05-15 14:26] vrothberg commented on #649
@giuseppe PTAL

[2019-05-15 15:22] giuseppe commented on #649
we could treat this case separately, but I think it is safer to require these capabilities as we have not really checked out we never use `chown` when running as an unprivileged user.

[2019-05-15 17:38] edsantiago opened #651 "Push to local registry: Error writing manifest: [...] 500 Internal Server Error"
Pushing *some* images to a local registry fails:
[code]
skopeo-0.1.36-6.dev.gitd93a581.fc30.x86_64

--debug isn't terribly helpful, but here it is just in case:
[code]

[2019-05-15 18:23] khandelwalankit04 opened #652 "skopeo inspect command errors out with 0.1.36-dev for xenial release"
Hi Team,

We are seeing error in inspecting image with latest build of skopeo : 0.1.36-dev. Here is the screenshot :

![image](https://user-images.githubusercontent.com/36901094/57799109-f16c4780-7713-11e9-9010-fd574d28186d.png)

This works with 0.1.35-dev , but since ppa:projectatomic/ppa only contains the latest version of skopeo we are unable to downgrade it to previous release.  Can you provid

[2019-05-15 18:39] rhatdan commented on #652
If you install newuid package on Ubuntu, it should fix the issue, but this definitely a bug.

[2019-05-15 18:43] khandelwalankit04 commented on #652
@rhatdan : Is there a plan to also package and keep older stable version in ppa:projectatomic/ppa ?

[2019-05-15 18:44] rhatdan commented on #652
@giuseppe We should check to see if newuidmap and newgidmap exists if not then just don't enter the user namespace.  It should only care if the user is using containers/storage anyways.

[2019-05-15 18:45] rhatdan commented on #652
@khandelwalankit04 I think we are planning on shipping skopeo as a snap.  Which would only be the stable versions.

@lsm5 @jnovy Please comment.

[2019-05-15 19:32] edsantiago commented on #651
Simpler reproducer, without need for intermediate repository (still needs registry container running):
[code]
Works fine with `docker://alpine` or `docker://busybox` instead of the quay.io alpine_labels image.

[2019-05-15 20:08] rhatdan commented on #649
Skopeo should not be attempting to enter a user namespace unless it is using container-storage.

[2019-05-15 21:06] mtrmac commented on #651
Thanks for your report.

This seems to work for me (when running the `registry:latest` server in Docker).

Is there anything interesting in the registry logs?

[2019-05-15 21:11] edsantiago commented on #651
Fascinating. It doesn't work for me with `:latest` either, same symptom. Tail end of logs show:
[code]

[2019-05-15 21:17] mtrmac commented on #594
Yes — we can’t make a _single_ “official Linux build” because various Lines are not binary compatible! (E.g. last time this was a different SONAME of `libdevmapper.so`.)

We could, in principle, prepare different builds for various distributions, but at that point it seems more useful to actually provide / help maintain / link to native packages for those distributions.

[2019-05-15 21:26] mtrmac commented on #651
Ah, thanks. It turns out my `:latest` is very old, this is very likely https://github.com/docker/distribution/pull/2474 .

[2019-05-15 21:27] mtrmac commented on #651
Reproduced.

[2019-05-15 22:01] mtrmac commented on #651
Unfortunately, https://github.com/docker/distribution/issues/2925 .

We _really_ should be able to autodetect this and handle it automatically. OTOH, while doing that on all of 500/“unknown error” would be possible (
[code]
in `isManifestInvalidError`), it would also be way too loose. I’m hoping that docker/distribution defines a more specific error that we can detect in the future… though we woul

[2019-05-17 14:54] shoeper commented on #648
An issue is, that the latest release does not contain the change and does not work due to this.

[2019-05-18 03:49] #649 closed

[2019-05-18 16:18] epruesse commented on #643
0.1.36 does not build due to problem in buildah

[2019-05-18 17:18] TomSweeneyRedHat commented on #643
@eprusse can you share the error(s)?

[2019-05-18 17:21] epruesse commented on #643
- Opened issue here: https://github.com/containers/buildah/issues/1600
- Conda-Forge build here: https://github.com/conda-forge/skopeo-feedstock/pull/4

[2019-05-18 17:23] epruesse commented on #643
It's the use of `memfd.h`, which is missing in older Linux. Conda-Forge builds on as old as possible GLIBC so that binaries will work everywhere. Looks like `memfd.h` is "newish".

[2019-05-20 09:01] frittentheke opened #658 "Please provide a basic progress / transfer speed output ("CI compatible") on copy"
First of all, thank you massively for Skopeo and it's ability to efficiently copy images between registries. Especially when having to use proxies and other special setups Skopeo is gold!

Just like the @baracoder the issue https://github.com/containers/skopeo/issues/597 we are using Skopeo within Gitlab CI.
While having Skopeo not print and update the otherwise nice progress indicators during a C

[2019-05-20 19:20] mtrmac commented on #658
Thanks for your report.

Reporting the recent transfer speed should be reasonably possible using `c/image/copy.Options.Progress`; reporting overall progress is not currently possible through that interface (it does not report about all the involved blobs, and their sizes, in advance).  Enhancing the progress reporting interfaces of `c/image/copy` to make this possible (or, ideally, to implement th

[2019-05-21 12:17] cyphar commented on #594
A simple solution is to statically compile the distributed binaries. Yes, it's not as safe (in terms of security updates) as dynamically linked binaries -- but it would solve this problem (and users who care about security should be using distribution packages anyway).

[2019-05-21 15:13] ezaluzec opened #660 "Skopeo copy signedby registry: Source image rejected: Invalid crypto engine"
**Description**

Copying a signed container from a quay registry results in error saying, `FATA[0000] Source image rejected: Invalid crypto engine`.

 - From the source system (Ubuntu 16.04.6 LTS), the container was imported with podman (1.3.0-dev) and pushed to quay as a signed-by container with a gpg2 (2.1.11) keyring.

- The destination system (embedded Linux), is running skopeo (0.1.37-dev) an

[2019-05-21 22:14] mtrmac commented on #660
Thanks for your report. Does the embedded system have a `gpg`/`gpg2` binary, and the rest necessary for `gpg{2,} -d` to work?

(Alternatively, if the embedded system is going to only do signature verification, not signing, _and you don’t care about the crypto implementation_, compiling skopeo etc. for the embedded system with the `containers_image_openpgp` build tag would use a Golang-only impleme

[2019-05-22 02:51] PaulFurtado commented on #434
@vrothberg while `/proc/$pid/environ` does allow other processes to read env vars, it's limited to processes that are allowed to ptrace the target process, whereas `/proc/$pid/cmdline` is readable by any other process by any user. So storing something in `/proc/$pid/environ` is about as secure as any file on disk secured via standard file permissions.

Additionally, things like auditd log command

[2019-05-22 06:32] rhatdan commented on #594
I am fine with creating a static version, and we are going to be adding container images with skopeo inside of them similar to what we have done with buildah and a PR exists for Podman now.  The issue with static skopeo is I believe certain features will need to be disabled (Devmapper support?) if static c libraries do not exists.

[2019-05-22 07:19] gecube commented on #594
Another option is to check if dynamically linked is available and then and only then - use functions from it. Unfortunately, I don't know if it is possible in Golang, but I am sure that this will work.

[2019-05-22 13:07] cyphar commented on #594
@gecube It is possible (I wrote some patches for Docker that are now in containers/storage that do this for devicemapper) but it's very difficult and not worth the trouble. It has to be done the old-fashioned way with `dlsym` and cgo and can be incredibly fragile.

[2019-05-22 15:31] ezaluzec commented on #660
@mtrmac , thank you for the feedback. Rebuilding skopeo with `containers_image_openpgp` resolved error. This issue can be closed.

Full compile command:
`x86_64-poky-linux-go build "-buildmode=pie" -ldflags "-X main.gitCommit=0c90e57eaf6496b77516310faefbe43a6e7e126a" -gcflags "" -tags "containers_image_openpgp " -o skopeo ./cmd/skopeo`

Just to confirm, signatures are still verified with skopeo co

[2019-05-22 15:34] mtrmac commented on #660
Thanks for the confirmation.

Yes, per the configured policy. (You can set up a “reject all” policy to confirm this.)

Yes, that’s expected.

[2019-05-22 15:34] #660 closed

[2019-05-24 19:09] PaulFurtado opened #661 "Support directly pulling and pushing images from HTTP/cloud storage without a registry server"
A registry server is such a thin layer over cloud provider/http storage of image layers, so it'd be awesome runtimes could pull directly from an HTTP server or cloud storage without needing to run a registry daemon.

We currently run a docker registry daemon on every one of out kubernetes nodes so that image pulling never requires a central registry service to be up and running (which itself, runs

[2019-05-24 21:48] mtrmac commented on #661
Thanks for your report.

Yes, the read side of the docker/distribution protocol is pretty close to raw HTTP (https://github.com/containers/skopeo/issues/469#issuecomment-486696576 ).

There already exists https://github.com/NicolasT/static-container-registry to configure a HTTP server to serve compatible content; updating or extending that approach seems more practical to me than introducing some

[2019-05-26 02:18] zendril opened #662 "error writing manifest during copy from docker.io to private registry (artifactory)"
I am able to copy quite a few files from docker.io and gcr.io  into both quay and artifactory just fine.

docker://docker.io/cloudfoundry/cnb:bionic throws an error when writing the manifest

`
bash-4.2$ skopeo copy --dest-creds myname:redacted docker://docker.io/cloudfoundry/cnb:bionic docker://containerimages.myregistry.com/docker-external/cloudfoundry/cnb:bionic
Getting image source signatures

[2019-05-26 11:37] zendril commented on #662
Looks like this also happens when using docker pull, retag and push to private registry.

I get this error when using docker "empty history when trying to create schema1 manifest"

So I assume this isn't a skopeo issue, I'll close this after a day or so, hoping someone who knows what the actual issue is can opine first.

[2019-05-27 06:43] vrothberg commented on #662
Which kind of registry are you pushing to? I tried to reproduce with Docker registry 2 (i.e., `docker.io/library/registry:2`) and did not encounter any error.

[2019-05-27 11:10] mtrmac commented on #662
Either way, the source image is truly invalid, it is missing a top-level `history` array. This is definitely noticeable on schema1-only registries (because the conversion to schema1 can’t happen, and fails with the two messages shown above), and it might be noticeable on other registries that validate the config as well. OTOH it’s possible that some registries don’t notice, and maybe even likely t

[2019-05-27 11:23] mtrmac commented on #662
(FWIW, `History` is optional in OCI; my reading of https://github.com/moby/moby/blob/master/image/spec/v1.2.md is that it is mandatory in Docker schema2.)

Either way, the `manifest invalid: manifest invalid` error is the destination registry refusing to accept the schema2 image unmodified; the other two are caused by trying to upload as schema1, and failing to convert to it because `history` is m

[2019-05-27 13:20] yuchengwu opened #663 "make binary causes fatal error: btrfs/ioctl.h: No such file or directory"
[code]

env
[code]

[2019-05-27 13:21] yuchengwu commented on #663
using `make binary-static` as a workaround:
[code]

[2019-05-27 15:03] mtrmac commented on #663
Thanks for your report, this should be fixed by #664.

[2019-05-27 15:19] #663 closed

[2019-05-27 19:50] zendril commented on #662
Very latest artifactory (6.x) as well as quay (v2).

On Mon, May 27, 2019, 02:43 Valentin Rothberg <notifications@github.com>
wrote:

[2019-05-27 19:53] zendril commented on #662
Thanks. I'm still new to the spec game so this explanation really helps.

On Mon, May 27, 2019, 07:23 Miloslav Trmač <notifications@github.com> wrote:

[2019-05-28 23:10] zendril commented on #662
Had a nice succinct explanation from someone that also lines up with what you all were saying.  Leaving it here in case someone else hits this.

With that I'm going to close this as it definitely doesn't appear to be a skopeo issue. Thanks for the responses.

[2019-05-28 23:10] #662 closed

[2019-05-29 01:55] PaulFurtado commented on #661
@mtrmac thanks for the response. I hadn't realized containers/image was the upstream project from this, otherwise I'd have filed this issue there. I had also looked for something like NicolasT's static-container-registry in the past, but turned up empty handed, so good to know that that is practical.

Given your assessment, it does seem like there'd be little chance that containers/image would mer

[2019-05-29 01:55] #661 closed

[2019-05-29 13:43] mtrmac commented on #661
(Well, that depends on the pros/cons balance; the cons have been articulated, the pros are not clear to me — but that may well be me not having the experience.)

FWIW that’s not likely to happen soon, because the transport interface of c/image is changing rather frequently, exactly to support new transports and features.

[2019-06-04 10:13] cmoulliard commented on #634
since latest version of skopeo, adding the parameter `--raw` don't resolve the problem anymore on MacOS

[code]

[2019-06-04 12:15] mtrmac commented on #634
Hum, did it _ever_ work on macOS for Linux Images? AFAICS `--raw` never turned off parsing of the image and the like, it only affected the output. (I realize that a comment above recommends `--raw`, so I might have missed something.)

`--override-os` is a global option, so, `skopeo --override-os linux inspect …`.

[2019-06-04 12:22] cmoulliard commented on #634
Great to know. That works ! Many thanks

[2019-06-07 01:14] deefin opened #667 "Unable to delete from local docker registry"
I have reviewed similar tickets in this repo but unfortunately have not been able to resolve my issue. It may be PBKC but i would like to confirm... :)

I am currently unable to delete a repo from my local registry.

**inspect**

[code]

**delete**

[code]

**skopeo info**

[code]

* Fedora 30, installed with `dnf`

[2019-06-07 12:34] rhatdan commented on #667
The registry needs to be configured to support remote delete.
@jwhonce Do you remember how to configure this?

The man page is supposed to say>

Additionally, the registry must allow deletions by setting `REGISTRY_STORAGE_DELETE_ENABLED=true` for the registry daemon.

[2019-06-07 13:27] deefin commented on #667
@rhatdan Thanks for the response. This is most likely the issue as my registry was initiated with the default: `podman run -d -p 5000:5000 --restart=always --name registry registry:2` as per: https://docs.docker.com/registry/

[2019-06-07 15:05] mtrmac commented on #667
Thanks for your report.

Yes, the registry must be configured to allow deletion, but…

This is actually reported when the image is not found at all; the code did not even try deleting it. Yet, `skopeo inspect` above did find it. Are those the actual outputs, or have they been edited?

(And just guessing - if they have not been edited, is it possible that the image uses schema1? I.e. what is the ou

[2019-06-09 11:12] deefin commented on #667
Thanks for the response @mtrmac .

Yes, these are the actual outputs.
![Screenshot from 2019-06-08 10-51-26](https://user-images.githubusercontent.com/21171128/59139991-682af680-89db-11e9-9637-cfb0e416910f.png)

[code]

On further investigation, it appears this may be an issue in how either myself or buildah is creating the container manifests. Please see below for breakdown.

1. starting my regis

[2019-06-10 18:53] mtrmac commented on #667
Ah, thanks; this is an OCI image, and the code is incorrectly asking for schema2 images only. That should be easy to fix.

In the meantime, configuring buildah/podman to use the “docker” schema2 format instead of the OCI one may help — but of course only for newly pushed images.

[2019-06-10 23:40] deefin commented on #667
Thanks for the response @mtrmac , would you like me to close this issue off? or will we close it once the issue is resolved?

[2019-06-11 06:31] fhemberger opened #669 "`skopeo copy` fails with segmentation violation (static container build)"
I built skopeo on a fresh Ubuntu 18.04 using Docker:

Steps to reproduce:
[code]

I'm trying to copy a simple Docker image from the official registry to a private registry:

[code]

Unfortunately, I'm running into this error:

[code]

I'm already getting warnings during `make binary-static`, I don't know if this is related somehow:

[code]

[2019-06-11 08:25] sslavic commented on #594
In Pop OS I couldn't find skopeo package. I tried installing skopeo with linuxbrew, but build fails

[code]
It fails even with PKG_CONFIG_PATH set to `/usr/lib/x86_64-linux-gnu/pkgconfig/:/home/linuxbrew/.linuxbrew/opt/isl@0.18/lib/pkgconfig`, and `devmapper.pc` available in `/usr/lib/x86_64-linux-gnu/pkgconfig`

On the other hand building from latest source works:
[code]

Wish installing skopeo v

[2019-06-11 10:44] TomSweeneyRedHat commented on #594
FYI @lsm5 (in case it's not on your radar already)

[2019-06-11 14:21] mtrmac commented on #667
No, please keep this open to track that the fix needs to be implemented.

[2019-06-11 20:35] mtrmac commented on #669
Thanks for your report.

Yes, the warnings are correct, and basically the answer is not to use static or `DISABLE_CGO` builds if at all possible.  Possibly see #670 .

[2019-06-12 07:59] fhemberger opened #672 "README: Package 'libbtrfs-dev' doesn't exist on Ubuntu < 18.10"
I'm building skopeo in a container on Ubuntu 18.04 LTS, the package `libbtrfs-dev` only exists in versions 10.10 and above.

(Also at least registry to registry copying seems to work fine without it.)

[2019-06-12 08:02] fhemberger commented on #669
Installing required packages on Ubuntu (see #672) and just using `make build` worked for me, thanks.

Still hoping you can fix the issue and/or provide binary builds. 😉

[2019-06-12 08:18] rhatdan commented on #672
Can't you eliminate  btrfs from the build?

[2019-06-12 09:19] fhemberger commented on #672
I just left out installing the dependency and so dar, it seems to work fine.
Not sure why you list it as build dependency and where it's needed.

[2019-06-12 09:24] rhatdan commented on #672
I think it is needed if you were building with containers/storage == btrfs.

[2019-06-12 19:36] mtrmac commented on #672
IIRC the dependency has always been there, it’s just that before 18.10 it was not necessary to install `libbtrfs-dev` for it (#664). I haven’t looked very hard for other ways to get this working on 18.10, to be fair.

PRs are welcome if there is some other dependency that can be used to pull in the required headers, as long as it works on 18.10 and we can keep the README and `Dockerfile.build` con

[2019-06-13 14:35] mtrmac opened #675 "systemtest flakes"
Not always, but often enough, system tests fails with something like
[code]
(omitting many instances of `level=error msg="unable to write pod event: "journal error: could not connect to journald socket""`

Restarting the build usually lets it proceed.

Not sure how to best fix this (or even, for sure, what the cause actually is) – maybe `start_registry` just needs to wait for the registry to start

[2019-06-13 16:49] #675 closed

[2019-06-14 17:29] vrothberg commented on #669
@rhatdan @mtrmac, since static builds have [some serious drawbacks](https://github.com/containers/skopeo/pull/670#discussion_r292647368), I wonder if it would make sense to create images with a pre-installed Skopeo as @TomSweeneyRedHat did for Buildah and Podman.

[2019-06-14 19:19] rhatdan commented on #669
Yes I think we it makes more sense to have a container image for Skopeo, then for Podman.  Product Management actually wants these for RHEL8.

[2019-06-14 22:42] vorburger commented on #567
Thanks for recording this here; it helped to fix https://github.com/kubernetes/test-infra/pull/13045.

[2019-06-17 09:47] vrothberg commented on #667
Fix for c/image: https://github.com/containers/image/pull/646
Vendored into skopeo: https://github.com/containers/skopeo/pull/680

[2019-06-17 14:10] vrothberg commented on #667
Reopening as https://github.com/containers/skopeo/pull/680 must get in for Skopeo.

[2019-06-17 20:31] #667 closed

[2019-06-19 12:06] #672 closed

[2019-06-25 11:38] frittentheke commented on #658
Thanks for the quick response. The issue I am having is to see the current progress (transfer speed per second) rather than the total process. In short: I simply want to see how quickly things are progressing currently.

[2019-06-25 13:33] mtrmac commented on #658
This got notably more complex in the meantime, because up to 6 blobs are now copied simultaneously; so, the concept of “current progress” does not make sense any more, without some sort of aggregated view.

[2019-06-26 11:12] frittentheke commented on #658
@mtrmac  urgh, too bad :-(
Thanks you keeping me / this issue updated.

As cool as it is when Skopeo does sync / copy multiple gigabytes of Docker layers in seconds on a fast local network, when you are dealing with potentially slow registries which are accessed via the internet across half the globe any indication if things are still moving or (almost) stalled would help.

[2019-07-02 08:45] alazzaro opened #687 "Rootless installation"
Current installation instructions reports

[code]

Is it possible to avoid the sudo?
I tried:

[code]
and this is the output:
[code]
If I do ignore the error, later on I get the file at `/etc/containers/policy.json ` is missing.

Any comment is welcome.

[2019-07-02 10:33] rhatdan commented on #687
sigstore should be optional and configurable.  We should change the default to /var/lib/containers/sigstore also.

skopeo  --insecure-policy

Should remove the problem with no policy.json

[2019-07-14 14:25] mackushev commented on #533
Docker cli use "identitytoken"  as refresh_token for auth2 token authentication.
https://docs.docker.com/registry/spec/auth/oauth/

My scenario: I use azure provided container registry, so I have to call

az  ask my credentials and create record at ~/.docker/config.json  with "identitytoken"

after that normal docker cli works fine

Internally docker cli exchange _identitytoken_ to auth token maki

[2019-07-15 18:26] mtrmac commented on #533
Thanks, that at least gives us a clear target use case.

c/image does not currently support the oauth2 authentication mechanism at all.

[2019-07-15 19:00] #669 closed

[2019-07-25 06:38] harche opened #691 "unable to build static binary"
While pulling from dockerhub works fine, not able to pull the image from the locally hosted registry.

[code]

[code]

[2019-07-25 06:51] harche commented on #691
For what it's work, docker works fine with same registry,

[code]

[2019-07-25 06:53] vrothberg commented on #691
@harche, thanks for opening the issue. Can you share how the binary was built and with which version of go?

[2019-07-25 06:57] harche commented on #691
I cloned upstream master of the skopeo and built using, `make binary-static DISABLE_CGO=1`

[code]

[2019-07-25 06:58] vrothberg commented on #691
That's odd since the stack trace claims: `/usr/lib/go-1.10/src/net/cgo_unix.go:212 +0x19f`

[2019-07-25 07:00] harche commented on #691
Oh, it's built inside a container right?

[code]

[2019-07-25 07:02] vrothberg commented on #691
Yes, it's built in the container. I assume CGO must be disabled. Trying to reproduce now.

[2019-07-25 07:03] harche commented on #691
If I disable CGO I am not even able to build,

[code]

[2019-07-25 07:12] harche commented on #691
@vrothberg

[code]

so `make binary-local` works, but if I try to generate static binaries it fails.

[2019-07-25 07:24] vrothberg commented on #691
@harche, it took a while until I refreshed my brain. This is actually a known issue and addressed in PR https://github.com/containers/skopeo/pull/670. However, there are a few shortcomings when using static binaries as @mtrmac mentions here https://github.com/containers/skopeo/pull/670#discussion_r292647368.

Let's keep this issue open until there's a consensus in https://github.com/containers/sko

[2019-07-25 07:30] harche commented on #691
@vrothberg sure, thanks.

[2019-07-25 11:33] mtrmac commented on #691
That just seems like a bug in the build container, FWIW.

(Still, static builds are problematic, and at least I don’t think we should make them default. Have the users opt-in after reading documentation with warning.)

[2019-08-06 21:37] dcode opened #702 "Export container images from ostree fails"
I'm trying to use ostree as a storage repository to store container images on ISO media so that I can import them later into container storage for podman to use. My understanding is that if this all works out, I'll be able to potentially save a ton of space by deduplicating layers vs exporting tarballs for each image I need to transfer.

Without further ado, here's what I'm trying:

### Copy into

[2019-08-06 22:42] mtrmac commented on #702
Thanks for your report.  This should hopefully be fixed by https://github.com/containers/image/pull/678 .

(If you have duplicate _layers_, and not just duplicate files within layers, consider using the `oci:` transport: it stores each layer as a single unfragmented (potentially compressed) bit file, instead of hundreds of small fragmented files all over the filesystem.)

[2019-08-06 22:43] mtrmac commented on #702
WRT pointing to a c/storage store created inside a chroot, I’m not sure. @nalind can hopefully help.

[2019-08-07 12:20] #702 closed

[2019-08-09 13:45] dcode opened #704 "Unable to copy from ostree to docker-archive or oci-archive without compression"
Related to #702, if I try to export from ostree storage to docker-archive, I get similar results as previously reported.

[code]

**Output**:
[code]

Similarly, if I allow uncompressed layers in an OCI archive, it also fails.
[code]

**Output**:
[code]

It appears to be size calculation mismatch in both instances.

Note that copy to `oci-archive` with the default settings works just fine (and of c

[2019-08-10 19:20] mtrmac commented on #704
That looks pretty similar to #702.

Note that the fix for #702 exists in the containers/image repo, but it has not yet been vendored into the skopeo repo; AFAICS that COPR package is building the current skopeo version without the fix. Sorry for the confusion.

[2019-08-12 10:29] slamd64 opened #705 "Skopeo requires image latest tag"
Im using skopeo as provider for dregsy

When I try to clone repo wich is not containing latest tag, it totally fails:

2019-08-12T09:33:27Z [INFO] mapping '/it-docker-local/docker_sync' to '/gcr-it-test-999999/it-docker-local/docker_sync'
2019-08-12T09:33:28Z [ERROR] error listing image tags: time="2019-08-12T09:33:28Z" level=fatal msg="Error reading manifest latest in artifactory-test.artifactory

[2019-08-12 15:59] mtrmac commented on #705
Thanks for your report.

`skopeo inspect` primarily exists to inspect an _image_; that it also lists tags in a repo is really a design error, the two really don’t have that much in common, and users rarely want both at exactly the same time.

(To clarify, `skopeo inspect` does not require the `:latest` tag in particular, it just requires an image to exist as specified, and `:latest` is the default

[2019-08-12 15:59] #705 closed

[2019-08-24 12:46] DamienRobert commented on #342
I would have liked this feature to test `systemd-nspawn --oci-bundle=`. `oci-image-tool` / `umoci` do the job, but it would be nice if this was integrated to `skopeo`.

[2019-08-27 11:28] agners commented on #469
This works for me:
[code]

[2019-08-27 14:00] mtrmac commented on #469
As much as this bug has been useful to discuss the various digest values and what happens during copies, it’s not clear what Skopeo can or should do about all the consequences of the various design decisions.

If anyone has specific needs not covered by the conversations above, please file separate issues.

[2019-09-06 22:13] zhill commented on #276
This hasn't been updated in a while, but I'm interested in providing a command to list tags from a repository. It is implemented as a distinct top-level command, e.g. `skopeo list-tags docker://myregistry.com/myrepo/`.

I think I'd defer the removal of the tag listing from the inspect output to keep things compatible.

Would you all be open to this, @mtrmac @rhatdan ?

[2019-09-06 22:26] mtrmac commented on #276
This is definitely something that we would like to have.

Design of the CLI in a way that is future-proof and could generalize to other transports would be very tricky, though; see the naming discussion around https://github.com/containers/skopeo/pull/682#discussion_r295892434 (although it talks primarily about the catalog, the same concerns apply to tags; also possibly  https://github.com/contain

[2019-09-06 23:11] zhill commented on #276
Understood and agreed. Perhaps `registry-list-tags`? Or is registry (meaning OCI or Docker V2) still not general enough? I'm not opinionated on the naming, to be clear, just want to make it as stable as possible for future use.

[2019-09-07 08:31] rhatdan commented on #276
Yes I prefer not to include a company name in the CLI, well anymore then we already do.

[2019-09-07 13:53] mtrmac commented on #276
IMHO it’s borderline, closer to the risky side, but opinions on that will differ, as already demonstrated:)

[2019-09-09 05:28] zhill commented on #276
I'll go ahead and get the code ready, we can discuss the specific name for the command once I open the PR and make any necessary changes then.

[2019-09-09 16:55] ivanstanev opened #714 "Why does Skopeo use so much memory when saving to local dir?"
I'm running a container inside Kubernetes with a memory limit set to 2 GB. The container has `skopeo` installed (based on `fedora:30`; using `dnf install skopeo`) and I'm trying to copy a very large image (4 GB) to disk using this command:
`skopeo copy docker://jgilli/4gb:latest dir:/cache/jgilli/4gb`
I'm monitoring my container using Grafana and I notice that I hit the 2 GB memory limit (100%) fo

[2019-09-09 19:54] mtrmac commented on #714
Thanks for your report.

Is that actually used or virtual memory? On macOS, I see maximum RSS less than 27 MB, which seems plausible nowadays (although, sure, pretty large for a HTTP client compared to the old days of pure C and little RAM) — and 4.25 GB of virtual memory, which does seem a lot, but does not actually hurt anything I think.

Does https://golang.org/doc/faq#Why_does_my_Go_process_us

[2019-09-09 21:29] ivanstanev commented on #714
OK I think it may not be actually an issue with Skopeo, I've been digging deeper and I have this theory:
The local machine I'm testing on has a modest downloading speed of 3 MB/sec, and indeed skopeo uses a few megabytes of RAM. However, when testing the same code in Google Cloud, the download speed there is 100 MB/sec... Is it plausible to assume the downloading speed is much higher than the spee

[2019-09-09 22:01] mtrmac commented on #714
Not very; most of the code has, I expect, fixed-size buffers and would just block if the consumers of the data are slower than the producers.

Please start by actually precisely defining what kind of “memory usage” are you measuring, and what that measure means.

[2019-09-10 10:26] ivanstanev commented on #714
OK thank you for the insight

What I'm monitoring in Grafana is physical memory used by the pod as reported by kubelet and kube state metrics. While the 4GB Docker image is being copied, the memory usage is 2GB (exactly the limit set for the container). Interestingly enough, the cgroup data (`cat /sys/fs/cgroup/memory/memory.stat`) is:
[code]

[2019-09-10 11:03] ivanstanev commented on #714
OK I found out more information about what is happening and I believe you can close this issue as I've gotten to the root of the cause :)

It seems that the metric reported by Grafana is the following:
`container_memory_usage_bytes = container_memory_rss + container_memory_cache + container_memory_swap`

The actual memory used by the process (RSS) is roughly 50 MB; this is the metric that Kubernet

[2019-09-10 11:49] tandeday opened #715 "Documentation does not mention Windows binary of Skopeo."
A quick read of the documentation did not immediately reveal how I got a Windows (10 if that matters) binary of skopeo for me to use against our OpenShift cluster.  I do not have Go experience so I didn't just go ahead and build it.

It would be nice if the documentation clearly stated:

* If a binary is available for download (probably isn't).
* How to create one if possible? (along with a diffic

[2019-09-10 12:02] vrothberg commented on #715
Hi @m86194, thanks for opening this issue.

We don't offer binaries for any OS. Skopeo is (build) tested against Linux and Mac OS but I am not sure how far we can come on Windows. I don't have access to a Windows machine for testing.

@mtrmac @rhatdan WDYT?

[2019-09-10 15:34] mtrmac commented on #715
We do test Windows cross-compilation of c/image, so it is probably buildable, but I wouldn’t be at all surprised if Skopeo were a pretty bad Windows citizen (WRT configuration file paths and the like), and not extremely surprised if it were broken due to different path syntax or the like (though there was at least one Windows-based user of the c/image library at one point).

`make binary-local` wo

[2019-09-11 00:41] xphyr commented on #715
SO, it very much seems possible. I was able to build a Windows binary just this evening (completely unrelated to @m86194 request). I made a small tweak to the Makefile (created a Windows build target) and it does compile. I will test it out tomorrow at work on a Windows machine and see if its usable. If you are curious about the addition to the Makefile take a look at my fork of this project.

[2019-09-11 09:40] m86194 commented on #715
First of all, please notice I am not requesting a windows build (which would be nice, though) but that the _documentation_ is clearer about what can be expected from a new user coming to the project.  (I need a dockerless image mirrorer) because it is slowly showing up in google searches for this kind of utility.

I fully understand that you have limited resources and this is to be considered an i

[2019-09-11 13:05] rhatdan commented on #715
Well, first of all this is not an Internal Red Hat Tool.  Skopeo is a fully open source project and we welcome it running on any platform.  Linux, MAC, Windows ...

If we get contributors working on the Windoews and MAC Ports that would be great.  The primary developers right now are Linux users and therefore it gets the most attention.

We are working to make Podman easier to consume on Windows a

[2019-09-11 14:33] #714 closed

[2019-09-12 12:07] MartinBasti opened #785 "skopeo inspect: a way how to avoid fetching all tags from repository"
Hello,

in our use cases we need to get only information about image, like labels, but we don't need all `repoTags`. We have repositories with many tags (1700+) and it is resource consuming to get all tags from registry and just drop that.

Could you please provide a way how to avoid fetching repotags?

Thank you

[2019-09-16 11:33] xphyr commented on #715
Over the weekend I tested the functionality of the Windows and OSX builds, using the Make file in my fork and I documented the results in the readme as well. Generally speaking, inspect, copy & delete work, as does the various storage subsystems except those specifically tied to the linux operating system (such as "ostree support"). It looks like this was known for OSX, but not for Windows.

If th

[2019-09-16 14:45] rhatdan commented on #715
Yes, I think we are very interested in this.

[2019-09-17 06:58] vrothberg commented on #715
Absolutely, thanks for looking into this, @xphyr !

[2019-09-18 08:51] MericCelik opened #721 "Yaml dependency version"
Hello,

The latest release of skopeo (0.1.39) has a dependency of a quite an old version of yaml package, which can be seen as
`gopkg.in/yaml.v2 v2.0.0-20141029210843-d466437aa4ad`.

In this commit, the library is licensed under LGPLv3. It seems that this changed to Apache 2.0 in newer releases. Would you consider to update this dependency?

I also want to mention that there might be a problem wit